<div class="modal fade" id="modalBilling" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Agregar Informacion de Pago</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                
                <div class="checkout-wrap pt-30">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="billing-info-wrap mr-50 ml-50">
                                <form action="{{ path('setBillingInfo') }}" id="billingForm" method="POST">
                                    <div class="row">
                                        <input type="hidden" id="id" name="id">
                                        <div class="col-lg-12">
                                            <div class="billing-info mb-20">
                                                <label>Nombre <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" id="name" name="name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info mb-20">
                                                <label>Rut <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" id="rut" name="rut">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info mb-20">
                                                <label>Ciudad <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" id="city" name="city">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-select mb-20">
                                                <label>Region <abbr class="required" title="required">*</abbr></label>
                                                <select id="region" name="region">
                                                    <option>Select a country</option>
                                                    <option value="1">Metropolitana</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-select mb-20">
                                                <label>Comuna <abbr class="required" title="required">*</abbr></label>
                                                <select id="comuna" name="comuna">
                                                    <option>Select a country</option>
                                                    <option value="1">Santiago</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="billing-info mb-20">
                                                <label>Direccion <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" id="address" name="address">
                                            </div>
                                        </div>

                                        <div class="single-input-item">
                                            <button class="check-btn sqr-btn " type="submit">Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>