<div class="modal fade" id="modalShipping" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Crear dirección</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                
                <div class="checkout-wrap pt-30">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="billing-info-wrap mr-50 ml-50">
                                <form action="{{ path('setShippingInfo') }}" id="shippingForm" method="POST">
                                    <div class="row">
                                        <input type="hidden" id="id" name="id">
                                        {# <div class="col-lg-12">
                                            <div class="billing-info mb-20">
                                                <label>Nombre <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" id="name" name="name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info mb-20">
                                                <label>Rut <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" id="rut" name="rut">
                                            </div>
                                        </div> #}
                                       
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-select mb-20">
                                                <label>Region <abbr class="required" title="required">*</abbr></label>
                                                <select id="region_id" name="region_id">
                                                    <option>Seleccionar Región</option>
                                                    {% for region in regiones %}
                                                        <option value="{{region.id}}">{{region.regionNombre}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-select mb-20">
                                                <label>Comuna <abbr class="required" title="required">*</abbr></label>
                                                <select id="comuna_id" name="comuna_id">
                                                </select>
                                            </div>
                                        </div>
                                         <div class="col-lg-6 col-md-6">
                                            <div class="billing-info mb-20">
                                                <label>Ciudad <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" id="city" name="city">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="billing-info mb-20">
                                                <label>Dirección <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" id="address" name="address">
                                            </div>
                                        </div>

                                        <div class="single-input-item">
                                            <button class="btn-shipping" type="submit">Guardar Cambios</button>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>