{% extends "base/base.html.twig" %}

{% block stylesheets %}
    <style>
        .product-thumbnail img{
            width: 135px;
            height: 160px;
            object-fit: cover;
        }

        .btn-shipping{
            border: none;
            background-color: #ff2f2f;
            text-transform: uppercase;
            font-weight: 600;
            padding: 9px 25px;
            color: #fff;
            font-size: 13px;
        }

        .btn-shipping:hover{
            background-color: black;
        }
    </style>
    

{% endblock %}

{% block body %}

    <div class="main-wrapper">
        <!-- Desktop header start -->
        {% include "base/profileHeader.html.twig" %}
        <!-- Desktop header /end -->
        <!-- mini cart start -->
        {% include "base/minicarrito.html.twig" %}
        <!-- mini cart /end -->
        <!-- Mobile menu start -->
        {% include "base/mobileHeader.html.twig" %}
        <!-- Mobile menu /end -->

        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="{{path('index')}}">Inicio</a>
                        </li>
                        <li class="active">
                            Mi cuenta
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <!-- my account wrapper start -->
        <div class="my-account-wrapper pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- My Account Page Start -->
                        <div class="myaccount-page-wrapper">
                            <!-- My Account Tab Menu Start -->
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="myaccount-tab-menu nav" role="tablist">
                                        <a href="#account-info" class="active" data-toggle="tab"><i class="fa fa-user"></i> Mis datos</a>
                                        <a href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Mis compras</a>
                                        {# <a href="#payment-method" data-toggle="tab"><i class="fa fa-credit-card"></i> Información de Facturación</a> #}
                                        <a href="#address-edit" data-toggle="tab"><i class="fa fa-map-marker"></i>Mis direcciones</a>
                                        
                                        <a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> Cerrar sesión</a>
                                    </div>
                                </div>
                                <!-- My Account Tab Menu End -->
                                <!-- My Account Tab Content Start -->
                                <div class="col-lg-9 col-md-8">
                                    <div class="tab-content" id="myaccountContent">
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="orders" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Pedidos</h3>
                                                <div class="myaccount-table table-responsive text-center">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th>N° de pedido</th>
                                                                <th>Fecha</th>
                                                                <th>Estado</th>
                                                                <th>Total</th>
                                                                <th>Acciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {# <tr>
                                                                <td>1</td>
                                                                <td>Aug 22, 2018</td>
                                                                <td>Pending</td>
                                                                <td>$3000</td>
                                                                <td><a href="#" class="check-btn sqr-btn ">Ver</a></td>
                                                            </tr> #}
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Tab Content End -->
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="payment-method" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Información de Facturación</h3>
                                                <div class="myaccount-table table-responsive text-center">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th><a href="#" onclick="createBilling()">+</a></th>
                                                                <th>Nombre</th>
                                                                <th>Rut</th>
                                                                <th>Comuna</th>
                                                                <th>Dirección</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in profile.billing_information %}
                                                                <tr>
                                                                    <td><a href="#" class="check-btn sqr-btn" onclick="editBilling({{item.id}})"><i class="fa fa-cloud-download"></i> as</a></td>
                                                                    <td>{{item.name}}</td>
                                                                    <td>{{item.rut}}</td>
                                                                    <td>{{item.commune}}</td>
                                                                    <td>{{item.address}}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Tab Content End -->
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="address-edit" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Direcciones</h3>
                                                <a href="#" onclick="createShipping()" class="btn btn-primary float-right btn-small mb-10" style="background-color: #1f429b; border-color: #1f429b">Agregar Dirección</a>
                                                <br>
                                                <div class="myaccount-table table-responsive text-center">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th></th>
                                                                {# <th>Nombre</th> #}
                                                                {# <th>Rut</th> #}
                                                                <th>Región</th>
                                                                <th>Comuna</th>
                                                                <th>Ciudad</th>
                                                                <th>Dirección</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in profile.shipping_information %}
                                                                <tr>
                                                                    <td><a href="#" class="check-btn sqr-btn" onclick="editShipping({{item.id}})"><i class="fa fa-cloud-download"></i> {{item.id}}</a></td>
                                                                    {# <td>{{item.name}}</td>
                                                                    <td>{{item.rut}}</td> #}
                                                                    <td>{{item.region.nombre}}</td>
                                                                    <td>{{item.commune.nombre}}</td>
                                                                    <td>{{item.city}}</td>
                                                                    <td>{{item.address}}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Tab Content End -->
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade show active" id="account-info" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Datos de mi cuenta</h3>
                                                <div class="account-details-form">
                                                {% for flashMessage in app.session.flashbag.get('success') %}
                                                    <div class="alert alert-success" role="alert">
                                                        <i class="icon-exclamation"></i>&nbsp; {{ flashMessage }}
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top:-4px;" ><span aria-hidden="true">&times;</span></button>
                                                    </div>
                                                    <br><br>
                                                {% endfor %}
                                                    <form method="POST" id="form_profile">
                                                        {# <div class="single-input-item">
                                                            <label for="name" class="required">Nombre Completo</label>
                                                            <input type="text" id="name" value="{{profile.name}}"/>
                                                        </div> #}
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="single-input-item">
                                                                    <label for="name" class="required">Nombre Completo</label>
                                                                    <input type="text" id="name" value="{{profile.name}}" name="name" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="single-input-item">
                                                                    <label for="rut" class="required">Rut</label>
                                                                    <input type="text" class="rut" value="{{profile.rut}}" name="rut"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="single-input-item">
                                                                    <label for="phone" class="required">Teléfono</label>
                                                                    <span id="valid-msg" class="hide"></span>
                                                                    <input id="phone" value="{{profile.phone}}" name="phone" required type="text" placeholder="ej. +56987654321" />
                                                                    <span id="error-msg" class="hide" style="display: none;color: red">Numero inválido, por favor ajustar al formato solicitado, ej. +56987654321</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="single-input-item">
                                                                    <label for="email" class="required">Email</label>
                                                                    <input type="email" id="email" value="{{profile.email}}" disabled style="background-color: lightgray;"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="single-input-item">
                                                            <button class="check-btn sqr-btn" type="submit">Guardar Cambios</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div> <!-- Single Tab Content End -->
                                    </div>
                                </div> <!-- My Account Tab Content End -->
                            </div>
                        </div> <!-- My Account Page End -->
                    </div>
                </div>
            </div>
        </div>

<!-- footer -->
{% include "base/footer.html.twig" %}
<!-- footer /end -->
<!-- Modal -->
{% include "profile/modalShipping.html.twig" %}
{% include "profile/modalBilling.html.twig" %}
<!-- Modal end -->
</div>
{% endblock body %}
{% block javascripts %}

    <script src="{{ asset('assets/js/comunas_regiones.js') }}"></script>
    <script src ="{{ asset('assets/js/utility.js') }}"></script>
    <script>
        $( document ).ready(function() {
            
            $("#region_id").change(function(){
                console.log('region es : '+  $("#region_id").val());
                comunas();
            });

            $("#form_profile").on('submit', function(evt) {
                if (!validarPhone()) {
                    return false;
                }
            });
        });
        //shipping
        async function editShipping(id){
            document.getElementById("shippingForm").reset(); 
            var url = Routing.generate('getShippingInfo', {
                'id': id
            });
            $("#modalShipping").modal();
            await fetch(url)
            .then(response => response.json())
            .then(data => resp = (data));
            console.log(resp)
            $('#modalShipping #id').val(id);
            //$('#modalShipping #name').val(resp.name);
            //$('#modalShipping #rut').val(resp.rut);
            $('#modalShipping #city').val(resp.city);
            //$('#modalShipping #region_id').val(resp.region_id);
            $("#modalShipping #region_id option[value='"+resp.region_id+"']").attr("selected", true);
            //$('#modalShipping #comuna_id').val(resp.commune_id);
            $(resp.comunas).each(function(){
                $("#comuna_id").append('<option value="' + this.id + '">' + this.nombre + '</option>');
                //console.log('comuna: '+this.nombre);
            });
            $("#modalShipping #comuna_id option[value='"+resp.commune_id+"']").attr("selected", true);
            $('#modalShipping #address').val(resp.address);
        }

        function createShipping(){
            document.getElementById("shippingForm").reset(); 
            $('#modalShipping #id').val(null);
            $("#modalShipping").modal();
        }
        
        function removeShipping(){

        }
        //billing
        async function editBilling(id){
            document.getElementById("billingForm").reset(); 
            var url = Routing.generate('getBillingInfo', {
                'id': id
            });
            $("#modalBilling").modal();
            await fetch(url)
            .then(response => response.json())
            .then(data => resp = (data));
            console.log(resp)
            $('#modalBilling #id').val(id);
            $('#modalBilling #name').val(resp.name);
            $('#modalBilling #rut').val(resp.rut);
            $('#modalBilling #city').val(resp.city);
            $('#modalBilling #region').val(resp.region);
            $('#modalBilling #comuna').val(resp.commune);
            $('#modalBilling #address').val(resp.address);
        }

        function createBilling(){
            document.getElementById("billingForm").reset(); 
            $("#modalBilling").modal();
        }
        
        function removeBilling(){

        }
    </script>
{% endblock %}