<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}ChileYa{% endblock %}</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{asset ('assets/branding/favicon.png') }}">

    <!-- All CSS is here
            ============================================ -->

    <!-- usamos los archivos minificados que nos ofrecen para un mejor rendimiento -->
    <link rel="stylesheet" href="{{ asset ('assets/css/vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/vendor/signericafat.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/vendor/cerebrisans.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/vendor/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/vendor/elegant.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/vendor/linear-icon.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/plugins/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/plugins/easyzoom.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/plugins/slick.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/plugins/animate.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/plugins/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/plugins/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/custom.css') }}">
    <!-- css minificado -->
    {#
    <link rel="stylesheet" href="{{ asset ('assets/css/vendor/vendor.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/plugins/plugins.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/style.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/custom.css') }}"> #}
    <!-- css minificado /end -->
    {% block stylesheets %}
    <style>
        .banner-container {
            width: 100%;
            height: 600px; /* Tamaño predeterminado */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .banner-slide {
            width: 100%;
            height: 100%;
            background-size: contain; /* Usar 'contain' para asegurarse que toda la imagen se vea */
            background-position: center;
            background-repeat: no-repeat;
        }

        /* Estilos responsivos para móviles */
        @media (max-width: 768px) {
            .banner-container {
                height: 400px; /* Reduce el tamaño del banner en pantallas móviles */
            }
        }

        /* Estilos para pantallas más grandes */
        @media (min-width: 1280px) {
            .banner-container {
                height: 600px; /* Establece el tamaño para pantallas grandes */
                
            }
        }



    </style>
    {% endblock %}

</head>

<body>
    {% block body %}{% endblock %}

    <!-- All JS is here
        ============================================ -->

    <script src="{{ asset('assets/js/vendor/modernizr-3.6.0.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery-migrate-3.3.0.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/slick.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/jquery.syotimer.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/jquery.instagramfeed.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/wow.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/jquery-ui-touch-punch.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/jquery-ui.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/magnific-popup.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/sticky-sidebar.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/easyzoom.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/scrollup.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/ajax-mail.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {# Use the minified version files listed below for better performance and remove the files listed above #}
    {#
    <script src="{{ asset('assets/js/vendor/vendor.min.js') }}"></script> #}
    {#
    <script src="{{ asset('assets/js/plugins/plugins.min.js') }}"></script> #}
    {# Main JS #}
    <script src="{{ asset('assets/js/main.js') }}"></script>
    {% block javascripts %}{% endblock %}

    <script>
        $(document).ready(function () {
            actualizarCarrito();
        });

        function eliminarProductoCarrito(id_producto) {
            parametros = { 'saleId': id_producto, 'code': $('#codigoCupon').val() }
            url = Routing.generate('deleteFromCart', parametros);
            location.href = url;
        }

        function eliminarPassCarrito(id_pass) {
            parametros = { 'saleId': id_pass, 'code': $('#codigoCupon').val() }
            url = Routing.generate('deleteFromCartPass', parametros);
            location.href = url;
        }

        function actualizarCarrito() {
            if ("{{app.session.get('cartId')}}") {
                $.ajax({
                    type: 'GET',
                    url: '{{path("currentItems")}}',
                    dataType: "json",
                    beforeSend: function () {
                        $(".products-mini-cart").append(
                            `<li class="single-product-cart">
                                <div class="spinner-border text-dark" role="status">
                                    <span class="visually-hidden"></span>
                                </div>
                            </div>`
                        );
                    },
                    success: function (response) {
                        const formatter = new Intl.NumberFormat('es-CL', {
                            style: 'currency',
                            currency: 'CLP',

                            // These options are needed to round to whole numbers if that's what you want.
                            minimumFractionDigits: 0,
                            maximumFractionDigits: 0,
                        });
                        console.log(response);
                        //$("mini-cart").text(response.products_sales.length);
                        $(".products-mini-cart").empty();
                        $(".cart-total").empty();
                        response.products_sales.forEach(element => {
                            $(".products-mini-cart").append(
                                `<li class="single-product-cart">
                                    <div class="cart-img">
                                        <img class="little_cart_image" src="`+ element.product_image + `" alt="">
                                    </div>
                                    <div class="cart-title">
                                        <h4>`+ element.product_name + `</h4>
                                        <span> `+ element.quantity + ` × ` + formatter.format(element.product_price) + ` </span>
                                    </div>
                                    <div class="cart-delete">
                                        <a href="#" onclick="eliminarProductoCarrito(`+ element.sale_id + `)" title="Eliminar">×</a>
                                    </div>
                                </li>`
                            );
                        });
                        response.pass_sales.forEach(element => {
                            $(".products-mini-cart").append(
                                `<li class="single-product-cart">
                                    <div class="cart-img">
                                        <img class="little_cart_image" src="data:image/jpeg;base64,${element.pass_image}" alt="">
                                    </div>
                                    <div class="cart-title">
                                        <h4>${element.pass_nombre}</h4>
                                        <span>${element.quantity} × ${formatter.format(element.sale_total_price)}</span><br>
                                        <span>${element.adultos} (Adultos) × ${element.ninios} (Niños)</span>
                                    </div>
                                    <div class="cart-delete">
                                        <a href="${generateDeleteUrl(element.sale_id)}" title="Eliminar">×</a>
                                    </div>
                                </li>`
                            );
                        });
                        function generateDeleteUrl(saleId) {
                            // Base URL generated by Twig with a placeholder for saleId
                            const baseUrl = "{{ path('deleteFromCartPass', {'saleId': 'SALE_ID'}) }}";
                            // Replace the placeholder with the actual saleId from JavaScript
                            return baseUrl.replace('SALE_ID', saleId);
                        }

                        $(".cart-total").append(
                            `<h4>Subtotal: <span>` + formatter.format(response.total_price).replace(/^(\D+)/ + `</span></h4>`));
                        //le agrega un 0 antes del numero, si tiene 2 cifras el 0 desaparece
                        var cartNumber = ('0' + response.total_items).slice(-2);
                        $(".cart-subtotal").empty();
                        $(".cart-subtotal").append(`<i class="icon-basket-loaded"></i> <span class="black cart-list" href="actualizarCarrito()">` + cartNumber + `</span>` + formatter.format(response.subtotal));
                        $(".cart-list").empty();
                        $(".cart-list").append(cartNumber);
                    },
                });
            }
        }
    </script>
</body>

</html>