<footer class="footer-area bg-gray pt-60">
    <div class="footer-top border-bottom-4 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="footer-widget mb-20">
                        <h3 class="footer-title">CATEGORÍAS</h3>
                        <div class="footer-info-list info-list-50-parcent">
                            <ul>
                                <li><a href="{{path('tienda', {'category': 1}) }}">Decohogar</a></li>
                                <li><a href="{{path('tienda', {'category': 3}) }}">Mujer </a></li>
                                <li><a href="{{path('tienda', {'category': 2}) }}">Hombre </a></li>
                                <li><a href="{{path('tienda', {'category': 3}) }}">Niños y Juguetería  </a></li>
                                <li><a href="{{path('tienda', {'category': 5}) }}">Zapatos </a></li>
                                <li><a href="{{path('tienda', {'category': 6}) }}">Belleza </a></li>
                                <li><a href="{{path('tienda', {'category': 7}) }}">Accesorios </a></li>
                                <li><a href="{{path('tienda', {'category': 8}) }}">Gourmet </a></li>
                                <li><a href="{{path('tienda', {'category': 9}) }}">Mascotas </a></li>
                                <li><a href="{{path('tienda', {'category': 10}) }}">Artesanía </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="footer-widget ml-70 mb-20">
                        <h3 class="footer-title">Servicio al Cliente</h3>
                        <div class="footer-info-list">
                            <ul>
                                <li><a href="https://sistema.chileya.cl/es/login">Acceso a Pymes</a></li>
                                <li><a href="https://sistema.chileya.cl/es/register" style="color: var(--red)">Registra tu Pyme</a></li>
                                <li><a href="#">Términos y Condiciones</a></li>
                            </ul>
                        </div>
                    </div>
{#                     <div class="footer-widget ml-70 mb-40">
                        <h3 class="footer-title">Sobre Nosotros</h3>
                        <div class="footer-info-list">
                            <ul>
                                <li><a href="#">Preguntas Frecuentes</a></li>
                        </div>
                    </div> #}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="footer-widget mb-40 ">
                        <h3 class="footer-title">Contacto</h3>
                        <div class="contact-info-2">
                            <!-- <div class="single-contact-info-2">
                                <div class="contact-info-2-icon">
                                    <i class="icon-call-end"></i>
                                </div>
                                 <div class="contact-info-2-content contact-info-2-content-purple">
                                    <p>Tienes preguntas? Llámanos <br> <b>Horario:</b> Lunes-viernes 10:00-17:30hrs</p>
                                    <h3 class="purple">(+56) 9 1234 1234 </h3>
                                </div> 
                            </div> -->
                            <!-- <div class="single-contact-info-2">
                                <div class="contact-info-2-icon">
                                    <i class="icon-cursor icons"></i>
                                </div>
                                <div class="contact-info-2-content">
                                    <p>Av. Siempre Viva , Santiago, 123, Región Metropolitana, Chile</p>
                                </div>
                            </div> -->
                            <div class="single-contact-info-2">
                                <div class="contact-info-2-icon">
                                    <i class="icon-envelope"></i>
                                </div>
                                <div class="contact-info-2-content">
                                    <p><a
                                            href="mailto:contacto@chileya.cl">contacto@chileya.cl</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="social-style-1 social-style-1-font-inc social-style-1-mrg-2">
                            <a href="https://www.facebook.com/chileya.marketplace" target="_blank"><i class="icon-social-facebook"></i></a>
                            <a href="https://www.instagram.com/chile.ya" target="_blank"><i class="icon-social-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-30 pb-30 ">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-5 col-md-5">
                    <div class="payment-img payment-img-right">
                        <span><img src="/assets/images/icon-img/payment.png" alt="" style="height: 50px;"></span>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7" style="margin: auto;">
                    <div class="copyright copyright-center">
                        {# <p>ChileYa® es una marca registrada de<a href=" https://tslatam.com"> <span>Tour Payment Solutions SpA</span> </a>.</p> #}
                        <p>Todos los derechos reservados Chile Ya SpA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>