<div class="sidebar-cart-active">
    <div class="sidebar-cart-all">
        <a class="cart-close" href="#"><i class="icon_close"></i></a>
        <div class="cart-content">
            <h3>Carrito de Compra</h3>
            <ul class="products-mini-cart">
                
                <li class="single-product-cart">
                    {# <div class="cart-img">
                        <a href="#"><img src="{{asset('assets/images/cart/cart-1.jpg') }}" alt=""></a>
                    </div>
                    <div class="cart-title">
                        <h4><a href="#">Simple Black T-Shirt</a></h4>
                        <span> 1 × $49.00 </span>
                    </div>
                    <div class="cart-delete">
                        <a href="#">×</a>
                    </div>#}
                </li>
                
            </ul>
            <div class="cart-total">
                {# <h4>Subtotal: <span>$170.00</span></h4> #}
            </div>
            <div class="cart-checkout-btn">
                <a class="btn-hover cart-btn-style" href="{{ path('carrito') }}">Ver Carrito</a>
                {# <a class="no-mrg btn-hover cart-btn-style" href="{{ path('checkout') }}">checkout</a> #}
            </div>
        </div>
    </div>
</div>