<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="clickalbe-sidebar-wrap">
        <a class="sidebar-close"><i class="icon_close"></i></a>
        <div class="mobile-header-content-area">
            <div class="mobile-search mobile-header-padding-border-1">
                <form class="search-form" action="{{path('tienda')}}">
                    <input placeholder="¿Qué Buscas?" type="text" name="search">
                    <button class="button-search" type="submit"><i class="icon-magnifier"></i></button>
                </form>
            </div>
            {# <div class="mobile-menu-wrap mobile-header-padding-border-2">
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="index.html">Home</a>
                            <ul class="dropdown" style="display: none;">
                                <li><a href="index.html">Home version 1 </a></li>
                                
                            </ul>
                        </li>
                        <li class="menu-item-has-children "><span class="menu-expand"><i></i></span><a href="#">shop</a>
                            <ul class="dropdown" style="display: none;">
                                <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">shop layout</a>
                                    <ul class="dropdown" style="display: none;">
                                        <li><a href="shop.html">standard style</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Products Layout</a>
                                    <ul class="dropdown" style="display: none;">
                                        <li><a href="product-details.html">tab style 1</a></li>
                                       
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Pages</a>
                            <ul class="dropdown" style="display: none;">
                                <li><a href="about-us.html">about us </a></li>
                                
                            </ul>
                        </li>
                        <li class="menu-item-has-children "><span class="menu-expand"><i></i></span><a href="#">Blog</a>
                            <ul class="dropdown" style="display: none;">
                                <li><a href="blog.html">blog standard </a></li>
                               
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div> #}
            <div class="main-categori-wrap mobile-menu-wrap mobile-header-padding-border-3">
                <a class="categori-show" href="#">
                    <i class="lnr lnr-menu"></i>Categorías<i class="icon-arrow-down icon-right"></i>
                </a>
                <div class="categori-hide-2">
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children "><span class="menu-expand"><i></i></span><a href="#">DecoHogar </a>
                                <ul class="dropdown" style="display: none;">
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Categoría 1</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">Muebles</a></li>
                                            <li><a href="#">Adornos</a></li>
                                            <li><a href="#">Espejos</a></li>
                                            <li><a href="#">Lámparas</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Categoría 2</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">Parrillas</a></li>
                                            <li><a href="#">Utensilios Cocina</a></li>
                                            <li><a href="#">Deco Kids</a></li>
                                            <li><a href="#">Aperitivo y Bar</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Categoría 3</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">Vasos y Copas </a></li>
                                            <li><a href="#">Cojines</a></li>
                                            <li><a href="#">Camas </a></li>
                                            <li><a href="#">Velas </a></li>
                                           
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Categoría 4</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">SubCategoría 1 </a></li>
                                            <li><a href="#">SubCategoría 2 </a></li>
                                            <li><a href="#">SubCategoría 3 </a></li>
                                            <li><a href="#">SubCategoría 4</a></li>
                                           
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children "><span class="menu-expand"><i></i></span><a href="#">Mujer</a>
                                <ul class="dropdown" style="display: none;">
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Ropa</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">Ropa </a></li>
                                            <li><a href="#">Zapatos</a></li>
                                            <li><a href="#">Ropa Interior</a></li>
                                            <li><a href="#">Belleza</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Accesorios</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">SubCategoría 1 </a></li>
                                            <li><a href="#">SubCategoría 2 </a></li>
                                            <li><a href="#">SubCategoría 3 </a></li>
                                            <li><a href="#">SubCategoría 4</a></li>   
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children "><span class="menu-expand"><i></i></span><a href="#">Hombre </a>
                                <ul class="dropdown" style="display: none;">
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Adulto</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">Ropa </a></li>
                                            <li><a href="#">Zapatos </a></li>
                                            <li><a href="#">Ropa Interior </a></li>
                                            <li><a href="#">Cuidado Personal </a></li>
                                            
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Joven</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">Ropa </a></li>
                                            <li><a href="#">Zapatos </a></li>
                                            <li><a href="#">Ropa Interior </a></li>
                                            <li><a href="#">Cuidado Personal </a></li>                                          
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Accesorios</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">SubCategoría 1 </a></li>
                                            <li><a href="#">SubCategoría 2 </a></li>
                                            <li><a href="#">SubCategoría 3 </a></li>
                                            <li><a href="#">SubCategoría 4 </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children "><span class="menu-expand"><i></i></span><a href="#">Accesorios </a>
                                <ul class="dropdown" style="display: none;">
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Accesorios</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">Joyas</a></li>
                                            <li><a href="#">Relojes</a></li>
                                            <li><a href="#">Carteras y Mochilas</a></li>
                                            <li><a href="#">Lentes</a></li>
                                            <li><a href="#">Billeteras</a></li>
                                            <li><a href="#">Pañuelos y Bufandas</a></li>
                                            <li><a href="#">Sombreros</a></li>
                                            <li><a href="#">Mascarillas</a></li>
                                            <li><a href="#">Cinturones</a></li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children "><span class="menu-expand"><i></i></span><a href="#">Niños y Juguetería </a>
                                <ul class="dropdown" style="display: none;">
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Bebé</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">Ropa</a></li>
                                            <li><a href="#">Zapatos</a></li>
                                            <li><a href="#">Juguetería</a></li>
                                            <li><a href="#">Mundo Bebé</a></li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children "><span class="menu-expand"><i></i></span><a href="#">Gourmet </a>
                                <ul class="dropdown" style="display: none;">
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Gourmet</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">Chocolates y Dulces</a></li>
                                            <li><a href="#">Mermeladas</a></li>
                                            <li><a href="#">Cervezas</a></li>
                                            <li><a href="#">Vinos</a></li>
                                            <li><a href="#">Aceites y Condimentos</a></li>  
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children "><span class="menu-expand"><i></i></span><a href="#">Mascotas </a>
                                <ul class="dropdown" style="display: none;">
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Mascotas</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">Alimento</a></li>
                                            <li><a href="#">Camas</a></li>
                                            <li><a href="#">Casas</a></li>
                                            <li><a href="#">Collares y Arné</a></li>
                                            <li><a href="#">Higiene y Cuidados</a></li>
                                            <li><a href="#">Ropa</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children "><span class="menu-expand"><i></i></span><a href="#">Artesanía </a>
                                <ul class="dropdown" style="display: none;">
                                    <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#">Artesanía</a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="#">Lanas</a></li>
                                            <li><a href="#">Bufandas</a></li>
                                            <li><a href="#">Greda</a></li>
                                            <li><a href="#">Tejidos</a></li>
                                            <li><a href="#">Mimbre</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="mobile-contact-info mobile-header-padding-border-4">
                <ul>
                    <li><i class="icon-envelope-open "></i> contacto@chileya.cl</li>
                </ul>
            </div>
            <div class="mobile-social-icon">
                <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
            </div>
        </div>
    </div>
</div>