<header class="header-area">
    <div class="container" style="padding: 22px 12px">
        <div class="header-large-device">
            <div class="header-bottom">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="logo">
                            <a href="{{ path('index') }}"><img src="{{asset('assets/branding/logo.png') }}" alt="logo" style="width: auto;height: 50px;"></a>
                        </div>
                    </div>
                    

                    <div class="col-lg-8 float-right">
                        <div class="header-action header-action-flex header-action-mrg-right">
                    
                            <div class="same-style-2 header-cart">
                                <a class="cart-active" onclick="actualizarCarrito()">
                                    <i class="icon-basket-loaded"></i><span class="pro-count red cart-list">...</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-small-device small-device-ptb-1">
            <div class="row align-items-center">
                <div class="col-5">
                    <div class="mobile-logo">
                        <a href="{{ path('index') }}">
                            <img alt="" src="{{asset('assets/branding/logo.png') }}" style="width: auto;height: 50px;">
                        </a>
                    </div>
                </div>
                <div class="col-7">
                    <div class="header-action header-action-flex">
                        
                        <div class="same-style-2 header-cart">
                            <a class="cart-active" onclick="actualizarCarrito()">
                                <i class="icon-basket-loaded"></i><span class="pro-count red cart-list">...</span>
                            </a>
                        </div>
                        <div class="same-style-2 main-menu-icon">
                            <a class="mobile-header-button-active" href="#"><i class="icon-menu"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>