<header class="header-area">
    <div class="container" style="padding: 12px 15px">
        <div class="header-large-device">
            <div class="header-bottom">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="{{ path('index') }}"><img src="{{asset('assets/branding/logo.png') }}" alt="logo" style="width: auto;height: 50px;"></a>
                        </div>
                    </div>
                    <div class="col-3 categori-style">
                        <div class="main-categori-wrap">
                            <a class="categori-show" href="#"><i class="lnr lnr-menu"></i> Todas las Categorías <i class="icon-arrow-down icon-right"></i></a>
                            <div class="category-menu categori-hide" style="display: none;">
                                <nav>
                                    <ul>
                                        <li class="cr-dropdown"><a href="{{path('tienda', {'category': 1}) }}">DecoHogar <span class="icon-arrow-right"></span></a>
                                            <div class="category-menu-dropdown ct-menu-res-height-1 custom-category-menu">
                                                <div class="single-category-menu ct-menu-mrg-left">
                                                    <h4>DecoHogar</h4>
                                                    <ul>
                                                        <li><a href="{{path('tienda', {'category': 1,'subcategory': 1}) }}">Muebles</a></li>
                                                        <li><a href="{{path('tienda', {'category': 1,'subcategory': 2}) }}">Adornos</a></li>
                                                        <li><a href="{{path('tienda', {'category': 1,'subcategory': 3}) }}">Espejos</a></li>
                                                        <li><a href="{{path('tienda', {'category': 1,'subcategory': 4}) }}">Lamparas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 1,'subcategory': 5}) }}">Parrillas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 1,'subcategory': 6}) }}">Utensilios cocina</a></li>
                                                        <li><a href="{{path('tienda', {'category': 1,'subcategory': 7}) }}">Deco Kids</a></li>
                                                        <li><a href="{{path('tienda', {'category': 1,'subcategory': 8}) }}">Aperitivo y Bar</a></li>
                                                        <li><a href="{{path('tienda', {'category': 1,'subcategory': 9}) }}">Vasos y copas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 1,'subcategory': 10}) }}">Cojines</a></li>
                                                        <li><a href="{{path('tienda', {'category': 1,'subcategory': 11}) }}">Camas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 1,'subcategory': 12}) }}">Velas</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="cr-dropdown"><a href="{{path('tienda', {'category': 2}) }}">Hombre <span class="icon-arrow-right"></span></a>
                                            <div class="category-menu-dropdown ct-menu-res-height-1 custom-category-menu">
                                                <div class="single-category-menu ct-menu-mrg-left">
                                                    <h4>Hombre</h4>
                                                    <ul>
                                                        <li><a href="{{path('tienda', {'category': 2,'subcategory': 13 }) }}">Ropa Hombre</a></li>
                                                        <li><a href="{{path('tienda', {'category': 2,'subcategory': 14 }) }}">Zapatos Hombre</a></li>
                                                        <li><a href="{{path('tienda', {'category': 2,'subcategory': 15 }) }}">Ropa Interior Hombre</a></li>
                                                        <li><a href="{{path('tienda', {'category': 2,'subcategory': 16 }) }}">Accesorios Hombre</a></li>
                                                        <li><a href="{{path('tienda', {'category': 2,'subcategory': 17 }) }}">Cuidado Personal Hombre</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="cr-dropdown"><a href="{{path('tienda', {'category': 3}) }}">Mujer <span class="icon-arrow-right"></span></a>
                                            <div class="category-menu-dropdown ct-menu-res-height-1 custom-category-menu">
                                                <div class="single-category-menu ct-menu-mrg-left">
                                                    <h4>Mujer</h4>
                                                    <ul>
                                                        <li><a href="{{path('tienda', {'category': 3,'subcategory': 18}) }}">Ropa Mujer</a></li>
                                                        <li><a href="{{path('tienda', {'category': 3,'subcategory': 19}) }}">Zapatos Mujer</a></li>
                                                        <li><a href="{{path('tienda', {'category': 3,'subcategory': 20}) }}">Ropa Interior Mujer</a></li>
                                                        <li><a href="{{path('tienda', {'category': 3,'subcategory': 21}) }}">Accesorios Mujer</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="cr-dropdown"><a href="{{path('tienda', {'category': 4}) }}">Niños y Juguetería <span class="icon-arrow-right"></span></a>
                                            <div class="category-menu-dropdown ct-menu-res-height-1 custom-category-menu">
                                                <div class="single-category-menu ct-menu-mrg-left">
                                                    <h4>Niños y Juguetería</h4>
                                                    <ul>
                                                        <li><a href="{{path('tienda', {'category': 4,'subcategory': 22 }) }}">Ropa Niño</a></li>
                                                        <li><a href="{{path('tienda', {'category': 4,'subcategory': 23 }) }}">Juguetería</a></li>
                                                        <li><a href="{{path('tienda', {'category': 4,'subcategory': 24 }) }}">Mundo bebé</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="cr-dropdown"><a href="{{path('tienda', {'category': 5}) }}">Zapatos<span class="icon-arrow-right"></span></a>
                                            <div class="category-menu-dropdown ct-menu-res-height-1 custom-category-menu">
                                                <div class="single-category-menu ct-menu-mrg-left">
                                                    <h4>Zapatos</h4>
                                                    <ul>
                                                        <li><a href="{{path('tienda', {'category': 5,'subcategory': 26 }) }}">Botas Mujer</a></li>
                                                        <li><a href="{{path('tienda', {'category': 5,'subcategory': 27 }) }}">Botas Hombre</a></li>
                                                        <li><a href="{{path('tienda', {'category': 5,'subcategory': 28 }) }}">Botines Mujer</a></li>
                                                        <li><a href="{{path('tienda', {'category': 5,'subcategory': 29 }) }}">Botines Hombre</a></li>
                                                        <li><a href="{{path('tienda', {'category': 5,'subcategory': 30 }) }}">Zapatillas Mujer</a></li>
                                                        <li><a href="{{path('tienda', {'category': 5,'subcategory': 31 }) }}">Zapatillas Hombre</a></li>
                                                        <li><a href="{{path('tienda', {'category': 5,'subcategory': 32 }) }}">Sandalias Mujer</a></li>
                                                        <li><a href="{{path('tienda', {'category': 5,'subcategory': 33 }) }}">Sandalias Hombre</a></li>
                                                        <li><a href="{{path('tienda', {'category': 5,'subcategory': 34 }) }}">Mocasines Mujer</a></li>
                                                        <li><a href="{{path('tienda', {'category': 5,'subcategory': 35 }) }}">Mocasines Hombre</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="cr-dropdown"><a href="{{path('tienda', {'category': 6}) }}">Belleza<span class="icon-arrow-right"></span></a>
                                            <div class="category-menu-dropdown ct-menu-res-height-1 custom-category-menu">
                                                <div class="single-category-menu ct-menu-mrg-left">
                                                    <h4>Belleza</h4>
                                                    <ul>
                                                        <li><a href="{{path('tienda', {'category': 6,'subcategory': 37 }) }}">Perfumes</a></li>
                                                        <li><a href="{{path('tienda', {'category': 6,'subcategory': 38 }) }}">Maquillaje</a></li>
                                                        <li><a href="{{path('tienda', {'category': 6,'subcategory': 39 }) }}">Cremas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 6,'subcategory': 40 }) }}">Higiene</a></li>
                                                        <li><a href="{{path('tienda', {'category': 6,'subcategory': 41 }) }}">Cuidado Capilar</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="cr-dropdown"><a href="{{path('tienda', {'category': 7}) }}">Accesorios <span class="icon-arrow-right"></span></a>
                                            <div class="category-menu-dropdown ct-menu-res-height-1 custom-category-menu">
                                                <div class="single-category-menu ct-menu-mrg-left">
                                                    <h4>Accesorios</h4>
                                                    <ul>
                                                        <li><a href="{{path('tienda', {'category': 7,'subcategory': 42 }) }}">Joyas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 7,'subcategory': 43 }) }}">Relojes</a></li>
                                                        <li><a href="{{path('tienda', {'category': 7,'subcategory': 44 }) }}">Carteras y Mochilas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 7,'subcategory': 45 }) }}">Lentes</a></li>
                                                        <li><a href="{{path('tienda', {'category': 7,'subcategory': 46 }) }}">Billeteras</a></li>
                                                        <li><a href="{{path('tienda', {'category': 7,'subcategory': 47 }) }}">Pañuelos y Bufandas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 7,'subcategory': 48 }) }}">Sombreros</a></li>
                                                        <li><a href="{{path('tienda', {'category': 7,'subcategory': 49 }) }}">Mascarillas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 7,'subcategory': 50 }) }}">Cinturones</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li class="cr-dropdown"><a href="{{path('tienda', {'category': 8}) }}">Gourmet <span class="icon-arrow-right"></span></a>
                                            <div class="category-menu-dropdown ct-menu-res-height-1 custom-category-menu">
                                                <div class="single-category-menu ct-menu-mrg-left">
                                                    <h4>Gourmet</h4>
                                                    <ul>
                                                        <li><a href="{{path('tienda', {'category': 8,'subcategory': 51 }) }}">Chocolates y Dulces</a></li>
                                                        <li><a href="{{path('tienda', {'category': 8,'subcategory': 52 }) }}">Mermeladas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 8,'subcategory': 53 }) }}">Cervezas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 8,'subcategory': 54 }) }}">Vinos</a></li>
                                                        <li><a href="{{path('tienda', {'category': 8,'subcategory': 55 }) }}">Aceites y Condimentos</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="cr-dropdown"><a href="{{path('tienda', {'category': 9}) }}">Mascotas <span class="icon-arrow-right"></span></a>
                                            <div class="category-menu-dropdown ct-menu-res-height-1 custom-category-menu">
                                                <div class="single-category-menu ct-menu-mrg-left">
                                                    <h4>Mascotas</h4>
                                                    <ul>
                                                        <li><a href="{{path('tienda', {'category': 9,'subcategory': 56 }) }}">Alimento Mascotas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 9,'subcategory': 57 }) }}">Camas Mascota</a></li>
                                                        <li><a href="{{path('tienda', {'category': 9,'subcategory': 58 }) }}">Casas Mascota</a></li>
                                                        <li><a href="{{path('tienda', {'category': 9,'subcategory': 59 }) }}">Collares y Arné Mascotas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 9,'subcategory': 60 }) }}">Higiene y Cuidados Mascotas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 9,'subcategory': 61 }) }}">Ropa Mascotas</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="cr-dropdown"><a href="{{path('tienda', {'category': 10}) }}">Artesanía <span class="icon-arrow-right"></span></a>
                                            <div class="category-menu-dropdown ct-menu-res-height-1 custom-category-menu">
                                                <div class="single-category-menu ct-menu-mrg-left">
                                                    <h4>Artesanía</h4>
                                                    <ul>
                                                        <li><a href="{{path('tienda', {'category': 10,'subcategory': 62 }) }}">Lanas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 10,'subcategory': 63 }) }}">Bufandas</a></li>
                                                        <li><a href="{{path('tienda', {'category': 10,'subcategory': 64 }) }}">Greda</a></li>
                                                        <li><a href="{{path('tienda', {'category': 10,'subcategory': 65 }) }}">Tejidos</a></li>
                                                        <li><a href="{{path('tienda', {'category': 10,'subcategory': 66 }) }}">Mimbre</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="cr-dropdown"><a href="{{path('tienda', {'category': 11}) }}">Bebida <span class="icon-arrow-right"></span></a>
                                            <div class="category-menu-dropdown ct-menu-res-height-1 custom-category-menu">
                                                <div class="single-category-menu ct-menu-mrg-left">
                                                    <h4>Bebida</h4>
                                                    <ul>
                                                        <li><a href="{{path('tienda', {'category': 11,'subcategory': 67 }) }}">Jugos Naturales</a></li>
                                                        <li><a href="{{path('tienda', {'category': 11,'subcategory': 68 }) }}">Kombucha</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- <li class="cr-dropdown"><a href="#">Accessories </a></li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-1">
                            <nav>
                                <ul>
                                    <li></li>
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3">
                        <div class="header-action header-action-flex header-action-mrg-right">
                            {# <div class="same-style-2 header-search-1">
                                <a class="search-toggle" href="#">
                                    <i class="icon-magnifier s-open"></i>
                                    <i class="icon_close s-close"></i>
                                </a>
                                <div class="search-wrap-1">
                                    <form action="#">
                                        <input placeholder="¿Qué Buscas?" type="text">
                                        <button class="button-search"><i class="icon-magnifier"></i></button>
                                    </form>
                                </div>
                            </div> #}
                            {# <div class="same-style-2">
                                <a href="#"><i class="icon-user"></i></a>
                            </div> #}
                            {# <div class="same-style-2">
                                <a href="#"><i class="icon-heart"></i><span
                                        class="pro-count red">03</span></a>
                            </div> #}
                            <div class="same-style-2 header-cart">
                                <a class="cart-active" onclick="actualizarCarrito()">
                                    <i class="icon-basket-loaded"></i><span class="pro-count red cart-list">...</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-small-device small-device-ptb-1">
            <div class="row align-items-center">
                <div class="col-5">
                    <div class="mobile-logo">
                        <a href="{{ path('index') }}">
                            <img alt="" src="{{asset('assets/branding/logo.png') }}" style="width: auto;height: 50px;">
                        </a>
                    </div>
                </div>
                <div class="col-7">
                    <div class="header-action header-action-flex">
                        {# <div class="same-style-2">
                            <a href="#"><i class="icon-user"></i></a>
                        </div> #}
                        {# <div class="same-style-2">
                            <a href="#"><i class="icon-heart"></i><span class="pro-count red">03</span></a>
                        </div> #}
                        <div class="same-style-2 header-cart">
                            <a class="cart-active" onclick="actualizarCarrito()">
                                <i class="icon-basket-loaded"></i><span class="pro-count red cart-list">...</span>
                            </a>
                        </div>
                        <div class="same-style-2 main-menu-icon">
                            <a class="mobile-header-button-active" href="#"><i class="icon-menu"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>