
{% extends "base/base.html.twig" %}

{% block body %}

<div class="main-wrapper">
    <!-- Desktop header start -->
    {% include "base/header.html.twig" %}
    <!-- Desktop header /end -->

    <!-- mini cart start -->
    {% include "base/minicarrito.html.twig" %}
    <!-- mini cart /end -->

    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->

    <div class="login-register-area pt-20 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        
                        <div class="about-us-area pt-120 pb-120">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="about-us-content">
                                            <h3 class="text-center">Restablecer contraseña</h3>
                                            <p class="text-justify" style="width: 100% !important">{{msg}}</p>
                                        </div>
                                        <div class="button-box text-right" >
                                            <a href="{{path('index')}}" class="btn btn-chileya">Aceptar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% include "base/footer.html.twig" %}
    <!-- Modal -->
    {% include "base/modalQuickView.html.twig" %}
    <!-- Modal end -->
</div>

{% endblock body %}
{% block javascripts %}
    <script src ="{{ asset('assets/js/utility.js') }}"></script>
<script>
$(document).ready(function () {
    
});
</script>
{% endblock javascripts %}