
{% extends "base/base.html.twig" %}

{% block body %}

<div class="main-wrapper">
    <!-- Desktop header start -->
    {% include "base/header.html.twig" %}
    <!-- Desktop header /end -->

    <!-- mini cart start -->
    {% include "base/minicarrito.html.twig" %}
    <!-- mini cart /end -->

    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->

    <div class="login-register-area pt-115 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <a class="active" data-toggle="tab" href="#lg1">
                                <h4> Restablecer contraseña </h4>
                            </a>
                        </div>
                        <div class="tab-content">
                           
                            <div id="lg2" class="tab-pane active">
                                {% for flashMessage in app.session.flashbag.get('error_register') %}
                                    <div class="alert alert-danger" role="alert">
                                        <i class="icon-exclamation"></i>&nbsp; {{ flashMessage }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top:-4px;" ><span aria-hidden="true">&times;</span></button>
                                    </div>
                                {% endfor %}
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form  method="post" id="form_password">
                                            <label for="">Nueva Contraseña</label>
                                            <input name="first" id="first" type="password" required>
                                            <label for="">Repita Contraseña</label>
                                            <input name="second" id="second" type="password" required>
                                            <div class="button-box text-right" >
                                                <button type="submit" class="btn-block">Cambiar contraseña</button>
                                            </div>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "base/footer.html.twig" %}
    <!-- Modal -->
    {% include "base/modalQuickView.html.twig" %}
    <!-- Modal end -->
</div>

{% endblock body %}
{% block javascripts %}

<script>
$(document).ready(function() {                        

        //$("form").submit(function (event) {
        $("#form_password").on('submit', function(evt) {
            var form = $('form')[0];
            var password = $('#first').val();
            var password_second = $("#second").val();
             
            if (password.length < 8) {
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'La contraseña es demasiado corta. Mínimo 8 caracteres',
                });
                return false;
            }
            else if (password === password_second) {
                form.submit();
            }else{
            
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Las dos contraseñas no coinciden. ¡Por favor corregir!',
                });
                return false;
            }
            

        });

    }); 
</script>
{% endblock javascripts %}