
{% extends "base/base.html.twig" %}

{% block body %}

<div class="main-wrapper">
    <!-- Desktop header start -->
    {% include "base/header.html.twig" %}
    <!-- Desktop header /end -->

    <!-- mini cart start -->
    {% include "base/minicarrito.html.twig" %}
    <!-- mini cart /end -->

    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->

    <div class="login-register-area pt-115 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <a class="active" data-toggle="tab" href="#lg1">
                                <h4> Login </h4>
                            </a>
                            <a href="{{path("register")}}">
                                <h4> Regístrate </h4>
                            </a>
                        </div>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                            {% for flashMessage in app.session.flashbag.get('error_login') %}
                                <div class="alert alert-danger" role="alert">
                                    <i class="icon-exclamation"></i>&nbsp; {{ flashMessage }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top:-4px;" ><span aria-hidden="true">&times;</span></button>
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('aviso_recover') %}
                                <div class="alert alert-success" role="alert">
                                    <i class="icon-exclamation"></i>&nbsp; {{ flashMessage }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top:-4px;" ><span aria-hidden="true">&times;</span></button>
                                </div>
                            {% endfor %}
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form method="post">
                                            <input type="text" name="email" placeholder="Email" required>
                                            <input type="password" name="password" placeholder="Contraseña" required>
                                            <div class="button-box">
                                                <div class="row">
                                                    <div class="col-sm-12 text-right">
                                                        <button type="submit" class="btn-block">INGRESAR</button>  
                                                    </div>
                                                    <div class="col-sm-12 mt-10 text-center">
                                                        <a href="{{path('recoverPassword')}}">¿Olvidaste tu contraseña?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="lg2" class="tab-pane">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form action="{{path("register")}}" method="post">
                                            <input name="email" placeholder="Email" type="email">
                                            <input type="password" name="password" placeholder="Contraseña">
                                            <div class="button-box text-right">
                                                <button type="submit" class="btn-block">REGISTRARME</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "base/footer.html.twig" %}
    <!-- Modal -->
    {% include "base/modalQuickView.html.twig" %}
    <!-- Modal end -->
</div>

{% endblock body %}
{% block javascripts %}
<script>
$(document).ready(function () {

});
</script>
{% endblock javascripts %}