{% extends "base/base.html.twig" %}

{% block stylesheets %}
    <style>
        .product-thumbnail img{
            width: 135px;
            height: 160px;
            object-fit: cover;
        }
    </style>
    

{% endblock %}

{% block body %}

    <div class="main-wrapper">
        <!-- Desktop header start -->
        {% include "base/shopHeader.html.twig" %}
        <!-- Desktop header /end -->
        <!-- mini cart start -->
        {% include "base/minicarrito.html.twig" %}
        <!-- mini cart /end -->
        <!-- Mobile menu start -->
        {% include "base/mobileHeader.html.twig" %}
        <!-- Mobile menu /end -->

        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">Wishlist </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-main-area pt-115 pb-120">
            <div class="container">
                <h3 class="cart-page-title">Tus Favoritos</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="table-content table-responsive cart-table-content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Producto</th>
                                            <th>Precio</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                            <tr>
                                                <td class="product-thumbnail">
                                                    <a href="{{path('producto',{'slug':product.slug})}}"><img src="{{product.img[0].url}}" alt=""></a>
                                                </td>
                                                <td class="product-name"><a href="#">{{product.name}}</a></td>
                                                <td class="product-price-cart"><span class="amount">${{product.price}}</span></td>
                                                <td class="product-wishlist-cart">
                                                    <a href="{{ path('removeFromWishlist', {'product_id': product.id}) }}">Eliminar</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- footer -->
    {% include "base/footer.html.twig" %}
    <!-- footer /end -->
    <!-- Modal -->
    {% include "base/modalQuickView.html.twig" %}
    <!-- Modal end -->
</div>
{% endblock body %}