:root{
    --red: #D72B1F;
    --blue: #1F429B;
    --green: #A3CF3C;
}

.text-red {
    color: var(--red);
}
.text-green {
    color: var(--green);
}
.text-blue {
    color: var(--blue);
}

.object-fit {
    height: 323px;
    width: 269px;
    object-fit: cover;
}

.description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.carrusel-vertical{
    height: 116px;
    width: 93px;
    object-fit: cover;
} 

.preview{
    width: 455px;
    height: 564px;
    object-fit: cover;
}

/* .preview:hover {
    transform: scale(1.5);
    width: 1200px!important; 
    height: 1125px!important;
  }  */

.cart_image{
    width: 98px;
    height: 112px;
    object-fit: cover;
}
.little_cart_image{
    width: 70px;
    height: 79px;
    object-fit: cover;
}


.header-login-regi a:hover {
    color: var(--red);
  }

.header-cart-2 a:hover {
    color: var(--red);
  }

.main-menu > nav > ul > li:hover > a {
    color: var(--red);
}

.footer-menu nav ul li a:hover {
    color: var(--red);

}

.footer-right-wrap .social-style-2 a:hover {
    color: #ffffff;
    border: 1px solid var(--red);
    background-color: var(--red);
}


.copyright p a span {
    color: var(--red);
  }
  
.copyright p a:hover {
    color: var(--red);
}

#scrollUp:hover {
    color: #ffffff;
    border: 1px solid var(--red);
    background-color: var(--red);
}

.single-product-wrap .product-img span.pro-badge.bg-red {
    background-color: var(--red);
}


.deal-content-1 > span {
    background-color: var(--red);
}
.deal-content-1 h2 {
    color: var(--blue)!important;
}

.deal-content-1 h2 span {
    text-transform: uppercase;
    font-weight: bold;
    /* color: var(--blue); */
}

.deal-content-1 .deal-btn a:hover {
    color: var(--red);
    border-bottom: 1px solid var(--red);
}

.deal-content-1 .deal-btn a {
    color: var(--blue);
}

.blog-wrap .blog-content .blog-meta ul li a:hover {
    color: var(--red);
}

.sidebar-cart-active .sidebar-cart-all .cart-content .cart-checkout-btn a{
    color: #fff;
    background-color: var(--blue);
}

.sidebar-cart-active .sidebar-cart-all .cart-content .cart-checkout-btn a:hover {
    color: var(--blue);
    background-color: #fff;
    box-shadow: grey 4px 4px 8px -3px;
}

.header-action .same-style-2 a:hover {
    color: var(--red);
}

.header-action .same-style-2 a span.red {
    background-color: var(--red);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 0px 10px;
    grid-template-areas:
        "name name message message"
        "email email message message"
        "subject subject  button button";
    align-items: start;
}
    .name { grid-area: name; }
    .email { grid-area: email; }
    .subject { grid-area: subject; }
    .message { grid-area: message;
    height:100% }
    .button { grid-area: button;}
    .borde {
    border: 3px solid #B3936D;
    border-radius: 5px;
    padding: 10px 20px;
}

.main-categori-wrap > a{
    color: black;
}

.category-menu nav > ul > li:hover > a, .category-menu nav > ul > li:hover > a span {
    color: var(--green);
}

.categori-style {
    padding: 20px 0px 30px 20px;
}

.category-menu nav > ul > li .category-menu-dropdown .single-category-menu ul li a:hover {
    color: var(--red);
}

.your-order-area .Place-order button {
    display: block;
    cursor: pointer;
    padding: 16px 50px 17px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-color: var(--blue);
    color: #fff;
    background-color: var(--blue);
}

.your-order-area .Place-order button:hover {
    color: var(--blue);
    background-color: #fff;
    border-color: #fff;
    box-shadow: grey 4px 4px 8px -3px
}

/* .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--blue);
    border-color: var(--blue);
} */


.custom-category-menu {
    width: 294px!important;
    padding: 20px 20px 20px 20px!important;
}

.hero-slider-content-2 h1 span {
    color: var(--blue);
    font-weight: bold;
}


.btn-style-2 a {
    color: var(--blue);
}

.btn-filter{
    background-color: #f2f2f2;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    padding: 5px 11px;
    text-transform: capitalize;
    letter-spacing: .3px;
    margin-left: 20px;
}

.btn-filter:hover{
    background-color: var(--red);
    color: #f2f2f2;
}

.single-product-wrap .product-content-wrap-2 .pro-add-to-cart button {
    color: #fff;
    background-color: var(--blue);
}

 .single-product-wrap .product-content-wrap-2 .pro-add-to-cart button:hover {
    color: var(--blue);
    background-color: #fff;
    box-shadow: grey 4px 4px 8px -3px;
} 

.cart-shiping-update-wrapper .cart-shiping-update > a, .cart-shiping-update-wrapper .cart-clear > button, .cart-shiping-update-wrapper .cart-clear > a{
    color: #fff;
    background-color: var(--blue);
}

.cart-shiping-update-wrapper .cart-shiping-update > a:hover, .cart-shiping-update-wrapper .cart-clear > button:hover, .cart-shiping-update-wrapper .cart-clear > a:hover{
    color: var(--blue);
    background-color: #fff;
    box-shadow: grey 4px 4px 8px -3px
}

.product-details-content .pro-details-action-wrap .pro-details-add-to-cart a{
    color: #fff;
    background-color: var(--blue);
}
.product-details-content .pro-details-action-wrap .pro-details-action > a{
    color: #fff;
    background-color: var(--blue);
}
.product-details-content .pro-details-action-wrap .pro-details-action > a:hover{
    color: var(--blue);
    background-color: #fff;
    box-shadow: grey 4px 4px 8px -3px
}
.product-details-content .pro-details-action-wrap .pro-details-add-to-cart a:hover{
    color: var(--blue);
    background-color: #fff;
    box-shadow: grey 4px 4px 8px -3px
}
.modal-logo{
    width: auto;
    height: 50px; 
    flex-direction:row
}
.modal-title{
    color: var(--blue);
    FONT-WEIGHT: 600;
    font-size: 1.9em;
}

.modal-description1 {
    color: var(--blue);
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px 280px 30px 280px;
}

.modal-description2 {
    margin: 21px 200px 30px 200px;
    font-weight: 500;
}

.modal-button{
    background-color: var(--blue);
    border-color: var(--blue);
    border-radius: 10px;
}

@media (max-width: 425px) {
    .modal-dialog{
        bottom: -10%;
        position: fixed;
    }
    .modal-logo{
        height: 30px; 
    }
    .modal-title{
        font-size: 1.5em;
    }
    .modal-description1, .modal-description2 {
        margin: 5% 20% 5% 20%;
    }
}

.btn-todos{

    background-color: #d72b1f;
    color: #fff !important;
    border-radius: 10px;
    padding: 8px 40px;
    text-transform: none !important;
    font-size: 16px !important;
}

.btn-todos:hover{
    
    background-color: #b4281e;
    color: #fff !important;
}

.p-index{

    color: #fff;
    border-radius: 5px;
    width: 100% !important;
    margin-bottom: 35px !important;
    font-size: 18px;
}