
{% extends "base/base.html.twig" %}

{% block body %}

<div class="main-wrapper">
    <!-- Desktop header start -->
    {% include "base/header.html.twig" %}
    <!-- Desktop header /end -->

    <!-- mini cart start -->
    {% include "base/minicarrito.html.twig" %}
    <!-- mini cart /end -->

    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->

    <div class="login-register-area pt-115 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <a class="active" data-toggle="tab" href="#lg1">
                                <h4> Regístrate </h4>
                            </a>
                        </div>
                        <div class="tab-content">
                           
                            <div id="lg2" class="tab-pane active">
                                {% for flashMessage in app.session.flashbag.get('error_register') %}
                                    <div class="alert alert-danger" role="alert">
                                        <i class="icon-exclamation"></i>&nbsp; {{ flashMessage }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top:-4px;" ><span aria-hidden="true">&times;</span></button>
                                    </div>
                                {% endfor %}
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form action="{{path("register")}}" method="post" id="form_register">
                                            <input name="name_surname" placeholder="Nombre Y Apellido" type="text" required value="{{name_surname}}">
                                            <input name="rut" placeholder="Rut 12345678-9" type="text" required class="rut" value="{{rut}}">
                                            <span id="error-msg" class="hide" style="display: none;color: red">Numero inválido, por favor ajustar al formato solicitado, ej. +56987654321</span>
                                            <input name="phone" placeholder="Teléfono" type="text" required value="{{phone}}" id="phone">
                                            <input name="email" placeholder="Email" type="email" required value="">
                                            <input type="password" name="password" placeholder="Contraseña" required>
                                            <div class="button-box text-right" >
                                                <button type="submit" class="btn-block">REGISTRARME</button>
                                            </div>
                                        </form>
                                        <div class="col-sm-12 mt-10 text-center">
                                            <span>¿Ya tienes cuenta?</span><a href="{{path("login")}}" style="border-bottom: 1px solid gray;"> Inicia sesión</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "base/footer.html.twig" %}
    <!-- Modal -->
    {% include "base/modalQuickView.html.twig" %}
    <!-- Modal end -->
</div>

{% endblock body %}
{% block javascripts %}
    <script src ="{{ asset('assets/js/utility.js') }}"></script>
<script>
$(document).ready(function () {
    $("#form_register").on('submit', function(evt) {
        if (!validarPhone()) {
            return false;
        }
    });
});
</script>
{% endblock javascripts %}