{% extends "base/base.html.twig" %}

{% block body %}
    
    <div class="main-wrapper">
        <!-- Desktop header start  -->
        {% include "base/header.html.twig" %}
        <!-- Desktop header end -->

        <!-- Mobile menu start -->
        {% include "base/mobileHeader.html.twig" %}
        <!-- Mobile menu end -->

        <!-- mini cart start -->
        {% include "base/minicarrito.html.twig" %}
        <!-- mini cart start /ends -->

        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="{{ path('index') }}">Inicio</a>
                        </li>
                        <li class="active">Carrito</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-main-area pt-115 pb-120">
            <div class="container">
            {% for flashMessage in app.session.flashbag.get('successful_register') %}
                <div class="alert alert-success" role="alert">
                    <i class="icon-check"></i>&nbsp; {{ flashMessage }} 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top:-4px;" ><span aria-hidden="true">&times;</span></button>
                </div>
            {% endfor %}
                <h3 class="cart-page-title">Productos de tu Carrito</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                        <!-- tablero de compra -->
                            <div class="table-content table-responsive cart-table-content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th>Cant.</th>
                                            <th>Subtotal</th>
                                            <th>acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if cart %}
                                        {% for products in cart.products_sales %}
                                            <tr>
                                                <td class="product-thumbnail">
                                                    <a><img class="cart_image" src="{{products.product_image}}" alt=""></a>
                                                </td>
                                                <td class="product-name"><a>{{products.title}}</a></td>
                                                <td class="product-price-cart"><span class="amount">${{products.product_price|number_format(0,',', '.')}}</span></td>
                                                <td class="product-quantity pro-details-quality">
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box" id="cart-plus-minus-box{{ products.product_id }}" type="text" name="qtybutton" value="{{products.quantity}}">
                                                    </div>
                                                </td>
                                                <td class="product-subtotal{{ products.product_id }}" >${{products.sale_total_price|number_format(0,',', '.')}}</td>
                                                
                                                <td class="product-remove" >
                                                    <div class="cart-delete">
                                                        <a  onclick="eliminarProductoCarrito({{products.sale_id}})" title="eliminar"><i class="icon-close"></i></a>
                                                        <a  onclick="actualizarStock( {{ products.variant_id }}, {{ products.product_id }}, {{ products.product_stock }}, {{ cart.cart_id }}, {{ products.discounted_price }})" title="Actualizar">
                                                            <i class="icon-refresh"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        
                                        {% for pass in cart.pass_sales %}
                                                <tr>
                                                    <td class="product-thumbnail">
                                                        <a>
                                                            <img class="cart_image" src="data:image/jpeg;base64,{{ pass.pass_image }}" alt=""></a>
                                                        </td>
                                                        <td class="product-name">
                                                            <a>
                                                                {{ pass.title }}
                                                            </a>
                                                        </td>
                                                        <td class="product-price-cart">
                                                            <span class="amount">
                                                                $
                                                                {{ pass.sale_total_price|number_format(0,',', '.') }}
                                                            </span>
                                                        </td>
                                                        <td class="product-quantity pro-details-quality">
                                                            <div class="cart-plus-minus">
                                                                <input class="cart-plus-minus-box" id="cart-plus-minus-box{{ pass.sale_id }}" type="text" name="qtybutton" value="{{ pass.quantity }}"></div>
                                                            </td>
                                                            <td class="product-subtotal{{ pass.sale_id }}">
                                                                $
                                                                {{ pass.sale_total_price|number_format(0,',', '.') }}
                                                            </td>
                                                            <td class="product-remove">
                                                                <div class="cart-delete">
                                                                    <a onclick="eliminarPassCarrito({{ pass.sale_id }})" title="eliminar">
                                                                        <i class="icon-close"></i>
                                                                    </a>
                                                                    {#<a onclick="actualizarStock( {{ pass.variant_id }}, {{ pass.product_id }}, {{ pass.product_stock }}, {{ cart.cart_id }}, {{ pass.discounted_price }})" title="Actualizar">
                                                                        <i class="icon-refresh"></i>
                                                                    </a>#}
                                                                </div>
                                                            </td>
                                                    </tr>
                                        {% endfor %}   
                                        <td>
                                            No hay productos en su carrito
                                        </td>
                                        {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        <!-- tablero de compra /ends -->
                        <!-- botones debajo del tablero -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-shiping-update-wrapper float-right">
                                      {#   <div class="cart-shiping-update">
                                            <a href="{{path('tienda')}}">Continuar Comprando</a>
                                        </div> #}
                                        {% if cart %}
                                            <div class="cart-clear">
                                                <!-- <button>Actualizar Carrito</button> -->
                                                <a href="{{path('tienda')}}">Seguir Comprando</a>
                                                <a href="{{path('shippingInformation')}}">Continuar</a>
                                            </div>
                                        {% else %}
                                            <div class="cart-clear">
                                                <a href="{{path('tienda')}}">Ver Productos</a>
                                            </div>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                            </div>
                        <!-- botones debajo del tablero /end -->
                        </form>
                        <!-- zona post carrito -->
                        {#
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="cart-tax">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Estimate Shipping And Tax</h4>
                                    </div>
                                    <div class="tax-wrapper">
                                        <p>Enter your destination to get a shipping estimate.</p>
                                        <div class="tax-select-wrapper">
                                            <div class="tax-select">
                                                <label>
                                                    * Country
                                                </label>
                                                <select class="email s-email s-wid">
                                                    <option>Bangladesh</option>
                                                    <option>Albania</option>
                                                    <option>Åland Islands</option>
                                                    <option>Afghanistan</option>
                                                    <option>Belgium</option>
                                                </select>
                                            </div>
                                            <div class="tax-select">
                                                <label>
                                                    * Region / State
                                                </label>
                                                <select class="email s-email s-wid">
                                                    <option>Bangladesh</option>
                                                    <option>Albania</option>
                                                    <option>Åland Islands</option>
                                                    <option>Afghanistan</option>
                                                    <option>Belgium</option>
                                                </select>
                                            </div>
                                            <div class="tax-select">
                                                <label>
                                                    * Zip/Postal Code
                                                </label>
                                                <input type="text">
                                            </div>
                                            <button class="cart-btn-2" type="submit">Get A Quote</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="discount-code-wrapper">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                                    </div>
                                    <div class="discount-code">
                                        <p>Enter your coupon code if you have one.</p>
                                        <form>
                                            <input type="text" required="" name="name" id="codigoCupon">
                                            <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="grand-totall">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                    </div>
                                    <h5>Total products <span>$260.00</span></h5>
                                    <div class="total-shipping">
                                        <h5>Total shipping</h5>
                                        <ul>
                                            <li><input type="checkbox"> Standard <span>$20.00</span></li>
                                            <li><input type="checkbox"> Express <span>$30.00</span></li>
                                        </ul>
                                    </div>
                                    <h4 class="grand-totall-title">Grand Total <span>$260.00</span></h4>
                                    <a href="{{path('checkout')}}">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div> #}
                        <!-- zona post carrito /end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        {% include "base/footer.html.twig" %}
        <!-- footer /end -->
    </div>

    {% endblock body %}
    {% block javascripts %}
    
    <script>
        function eliminarProducto(id_producto) {
            parametros = { 'saleId': id_producto, 'code': $('#codigoCupon').val() }
            url = Routing.generate('deleteFromCart', parametros);
            location.href = url;
        }

        function actualizarStock(idVariante, idProducto, stockProducto, idCart, discountedPrice){
        
            var quantity = $('#cart-plus-minus-box'+idProducto).val();
    
            if(quantity == 0){
              $('#btn-actualizar-'+idvariante)
              return;
            }
    
            var parametros = {
              "variantId": idVariante,
              "productId" : idProducto,
              "cartId" : idCart,
              "quantity_products" : quantity,
              "discountedPrice" : discountedPrice
            };
    
            $.ajax({
              type: 'GET',
              url: "{{ path('changeQuantityShoppingCart') }}",
              data: parametros,
              dataType: "json",
              beforeSend: function(){
                $('.cart-plus-minus-box').append('Cargando...')
              },
              success: function(response){
                response = JSON.parse(response);
                console.log('respuesta es : ' + response);
                var formatter = new Intl.NumberFormat('es-CL', {
                  style: 'currency',
                  currency: 'CLP',
    
                  // These options are needed to round to whole numbers if that's what you want.
                  minimumFractionDigits: 0,
                  maximumFractionDigits: 0,
                });
    
                const found = response.products_sales.find(element => element.variant_id == idVariante);
                //console.log(found);
                //console.log(found.sale_total_price);
                if(found.sale_total_price == 0 ){
                    //console.log('es 0');
                    $(".product-subtotal"+(found.product_id)).empty();
                    $(".product-subtotal"+(found.product_id)).append('Sobre pasa el Stock!');
                }else{
                    let precio = formatter.format(found.sale_total_price);
                    //console.log('no es 0');
                    //console.log(precio);
                    $(".product-subtotal"+(found.product_id)).empty();
                    $(".product-subtotal"+(found.product_id)).append(precio +'xd');
                }
                if(response.total_discount != 0){
                    $(".product-subtotal"+(found.product_id)).append(precio);
                }
              },
                error: function(response){console.log(response)}
            });
          }
    </script>
    {% endblock javascripts %}
