{% extends "base/base.html.twig" %}
{% block stylesheets %}
    <style>
        .method-id:hover{
            cursor: pointer;
        }

        .link-mod{
            border-bottom: 2px dotted blue;
        }
    </style>
{% endblock %}
{% block body %}

<div class="main-wrapper">
    <!-- Desktop header start -->
    {% include "base/header.html.twig" %}
    <!-- Desktop header /end -->
    <!-- mini cart start -->
    {% include "base/minicarrito.html.twig" %}
    <!-- mini cart /end -->
    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="{{ path('index') }}">Home</a>
                    </li>
                    <li class="active">Resumen </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="checkout-main-area pt-120 pb-120">
        <div class="container">
            <div class="checkout-wrap pt-30">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="billing-info-wrap mr-50">
                                <h3>OPCIONES DE DESPACHO</h3>
                                    {% set i = 0 %}
                                    {% if shipping_info|length > 1 %}
                                        <p>Tu pedido se ha separado porque los productos que llevas se encuentran en diferentes tiendas. </p>
                                    {% endif  %}


                                    <div class="row mb-15">
                                        <div class="col-md-8 col-sm-6">
                                            {#<h5 style="color: #1f429b; display: inline-block;"><span>{{shipping_address}}</span></h5>#}
                                        </div>
                                        <div class="col-md-4 col-sm-6 text-right">
                                            <a href="{{path('shippingInformation')}}">Cambiar <i class="icon-pencil"></i></a>
                                        </div>
                                    </div>
                                    {% for item in shipping_info %}
                                        <div class="row mb-20" style="border: 2px solid #eaeaea">
                                            <div class="col-md-5">
                                                <h4 class="mt-10" style="color: #1f429b;">{{item.order.empresa|upper}}</h4>
                                                {% for product in item.order.products %}
                                                    <div class="col-lg-12 col-md-12" style="display: inline;">
                                                        <div>
                                                            <a  href="{{path('producto',{'slug':product.product_slug})}}"><img class="cart_image" src="{{product.product_image}}" alt=""></a>
                                                        </div>
                                                        <div class="billing-info mb-20">
                                                            <label>{{product.product_name}}</label>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="col-md-7" style="display: flex;align-items: center;justify-content: right;">
                                                    <div class="row" style="width: 100%">
                                                        <div class="col-md-12">
                                                            <p class="text-left">Elige opción de despacho</p>
                                                            {% for shipping in item.order.shipping_methods %}
                                                                <div class="your-order-area" style="padding: 5px; border: none !important">
                                                                    <div class="your-order-wrap gray-bg-4">
                                                                        <div class="payment-method" style="margin-top: 10px">
                                                                            <div class="pay-top sin-payment sin-payment-3" style="margin-bottom: 10px">
                                                                                <input id="shipping-method-{{item.order.shipping_id}}" class="input-radio method-id" type="radio" value="{{item.order.shipping_id}}-{{shipping.id}}"
                                                                                    name="shipping_method[{{i}}]" data-amount="{{shipping.fee}}" data-metho-id="{{item.order.shipping_id}}" required="">
                                                                                <label for="shipping-method-4">
                                                                                {{shipping.method_name}} &nbsp;&nbsp;&nbsp;&nbsp; 
                                                                            
                                                                                </label>
                                                                                 <span class="text-right">
                                                                                    <strong>{{shipping.fee_format}}</strong>
                                                                                </span>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    {% set i = i + 1 %}
                                    {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="your-order-area">
                                <h3>Tu compra</h3>
                                <div class="your-order-wrap gray-bg-4">
                                    <div class="your-order-info-wrap">
                                        <div class="your-order-info">
                                            <ul>
                                                <li>Productos <span>Total</span></li>
                                            </ul>
                                        </div>
                                        <div class="your-order-middle">
                                            <ul>
                                                {% for products in cart.products_sales %}
                                                    
                                                <li>{{products.product_name}} <span>{{products.quantity}} </span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="your-order-info order-subtotal">
                                            <ul>
                                                <li>Subtotal <span>$ {{cart.subtotal|number_format(0,',', '.')}} </span></li>
                                                <input type="hidden" id="subtotal_cart" value="{{cart.subtotal}}">
                                            </ul>
                                        </div>
                                        <div class="your-order-info order-subtotal">
                                            <ul>
                                                <li>Envío <span id="text_envio"></span></li>
                                                <input type="hidden" id="envio_cart" value="0">
                                            </ul>
                                        </div>
                                        <div class="your-order-info order-total">
                                            <ul>
                                                <li>Total <span id="text_total_cart">$ {{cart.subtotal|number_format(0,',', '.')}} </span></li>
                                                <input type="hidden" id="total_cart" value="{{cart.subtotal}}">
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                       
                                        <div class="pay-top sin-payment sin-payment-3">
                                            <input id="payment-method-4" class="input-radio" type="radio" value="7"name="payment_method" checked="true">
                                            <label for="payment-method-4">WebPay <img alt=""
                                                    src="assets/images/icon-img/payment.png"><a href="https://www.webpay.cl/portalpagodirecto/pages/qsomos.jsf" target="blank">¿Qué es
                                                    webPay?</a></label>{#
                                            <div class="payment-box payment_method_bacs">
                                                <p>asegurate que el rut del pago vaya a nuestro pago,favor usar el id de la orden como referencia en el pago</p>
                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="Place-order">
                                    <button class="btn btn-primary" type="submit">Pagar</button> 
                                </div>
                                <div class="mt-10 text-center"><a href="{{path('carrito')}}" class="link-mod">Modificar Compra</a></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal bd-example-modal-sm show" tabindex="-1" role="dialog" >
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <h3 class="modal-title m-auto text-center">¡Lo sentimos!</h3>
                    <br>
                    <p class="text-center">Tuvimos que eliminar los siguientes productos porque no se encunetran disponibles para despacho </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for products in deleted_products %}
                        {% for product in products %}
                            <div class="row mb-15">
                                <div class="col-md-6">
                                 <a  href="{{path('producto',{'slug':product.product_slug})}}"><img class="cart_image" src="{{product.product_image}}" alt=""></a>
                                </div>
                                <div class="col-md-6">
                                    <p>{{product.product_name}}</p>
                                </div>
                            </div>

                        {% endfor %}
                    {% endfor %}
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">OK</button>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" aria-hidden="true" id="deleted_products">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <h3 class="modal-title text-center">¡Lo sentimos!</h3>
                <p class="text-center">Tuvimos que eliminar los siguientes productos de tu compra porque no se encuentran disponibles para despacho</p>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-9">
                                {% for products in deleted_products %}
                                    {% for product in products %}
                                        <div class="row mb-15">
                                          <div class="col-4 col-sm-4">
                                            <a  href="{{path('producto',{'slug':product.product_slug})}}"><img class="cart_image" src="{{product.product_image}}" alt=""></a>
                                          </div>
                                          <div class="col-4 col-sm-4">
                                            <p>{{product.empresa}}</p>
                                            <a href="{{path('producto',{'slug':product.product_slug})}}">{{product.product_name}}</a>
                                            <p>$ {{product.original_price|number_format(0,',', '.')}}</p>
                                          </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    {% include "base/footer.html.twig" %}
</div>

{% endblock body %}
{% block javascripts %}
<script>


    $("form").submit(function (event) {
        console.log('entro en el submit');
        //return false;
    });
</script>
<script>
    $(document).ready(function () {

        {% if deleted_products|length > 0 %}
            $('#deleted_products').modal('show');
        {% endif %}
        $(".method-id").click(function(){
            let subtotal = $("#subtotal_cart").val();
            let envio = 0;
            

            $(".method-id:checked").each(function(){
                //console.log('valor del envio: '+ $(this).data('amount'));
                envio += parseInt($(this).data('amount'));
            });

            //let envio_actual = parseInt($(this).data('amount')) + parseInt(envio);
            let new_total = parseInt(subtotal) + parseInt(envio);

            $("#text_envio").text('$ '+new Intl.NumberFormat("es-CL").format(envio));
            $("#text_total_cart").text('$ '+new Intl.NumberFormat("es-CL").format(new_total));
            
        })
    });
</script>
{% endblock javascripts %}