{% extends 'base/base.html.twig' %}

{% block body %}
    {% include 'base/header.html.twig' %}
    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="{{ path('index') }}">Home</a>
                    </li>
                    <li class="active">Error</li>
                </ul>
            </div>
        </div>
    </div>
        <section class="shop-area pt-120 pb-120">
				<div class="container">
					<div class="row justify-content-center">
						
						<div class="col-lg-6 col-md-10">
							<div class="text-center">

                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="sec-heading center">
                                            <h1 style="font-size: 44px;line-height: 1.2;">Error de compra</h1>
                                        </div>
                                    </div>
                                </div>
								
								<p>A habido un error al realizar la compra</p>
								<a class="btn btn-chileya" href="{{ path('index') }}">Volver al Inicio</a>
								
							</div>
						</div>
						
					</div>
				</div>
			</section>
    {% include 'base/footer.html.twig' %}
{% endblock %}