{% extends "base/base.html.twig" %}

{% block body %}



<div class="main-wrapper">
    <!-- Desktop header start -->
    {% include "base/header.html.twig" %}
    <!-- Desktop header /end -->
    <!-- mini cart start -->
    {% include "base/minicarrito.html.twig" %}
    <!-- mini cart /end -->
    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->
    <div class="slider-area">
        <div class="container">
        {% for flashMessage in app.session.flashbag.get('successful_register') %}
            <div class="alert alert-success" role="alert">
                <i class="icon-check"></i>&nbsp; {{ flashMessage }} 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top:-4px;" ><span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
            <div class="hero-slider-active-1 nav-style-2 dot-style-2 dot-style-2-position-1 dot-style-2-active-black">
                <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg"
                    style="background-image:url(assets/images/carrusel/carrusel3.jpg);">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slider-content-2 slider-animated-1">
                                <h1 class="text-white"><span style="
                                    color: #fff;
                                    border-radius: 5px;text-shadow: black 0.05em 0.05em 0.2em;
                                ">Ya están aquí</h1>
                                <h2 class="p-index" style="text-shadow: black 0.05em 0.05em 0.2em;">Los mejores productos nacionales</h2>
                                <div class="btn-style-2">
                                    <a href="{{path('tienda')}}" class="btn-todos">Ver todos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg"
                    style="background-image:url(assets/images/carrusel/carrusel2.jpg);">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slider-content-2 slider-animated-1">
                                <h1 class="text-blue"><span style="
                                    background-color: #fe0000;
                                    color: #fff;
                                    border-radius: 5px;
                                    padding: 4px 10px;
                                ">Minerales de la Tierra</h1>
                                <p class="text-blue" style="
                                background-color: #fe0000;
                                color: #fff;
                                border-radius: 5px;
                                padding: 4px 10px;
                            ">Completa linea de cosmética orgánica con productos de la madre tierra, del sur de Chile.</p>
                                <div class="btn-style-2">
                                    <a href="{{path('tienda')}}" style="
                                    background-color: #fe0000;
                                    color: #fff;
                                    border-radius: 5px;
                                    padding: 4px 10px;
                                ">Compra Ahora<i class="icon-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg"
                    style="background-image:url(assets/images/carrusel/carrusel1.jpg);">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slider-content-2 slider-animated-1">
                                <h1 class="text-blue"><span style="
                                                    background-color: #86895d ;
                                                    color: #fff;
                                                    border-radius: 5px;
                                                    padding: 4px 10px;
                                                ">Arte Nacional</span></h1>
                                <p class="text-blue" style="
                                                background-color: #86895d;
                                                color: #fff;
                                                border-radius: 5px;
                                                padding: 4px 10px;
                                            ">Hecho en Chile con Amor</p>
                                <div class="btn-style-2">
                                    <a class= href="{{path('tienda')}}" style="
                                                    background-color: #86895d;
                                                    color: #fff;
                                                    border-radius: 5px;
                                                    padding: 4px 10px;
                                                ">Comprar <i class="icon-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-area pt-115 pb-110">
        <div class="container">
            <div class="section-title-2 text-center mb-45">
                <h2><span>Categorías</span> </h2>
            </div>
            <div
                class="product-slider-active dot-style-2 dot-style-2-position-static dot-style-2-mrg-1 dot-style-2-active-black">
                <div class="product-plr-1">
                    <div class="single-product-wrap mb-35">
                        <div class="product-img product-img-zoom mb-20">
                            <a href="{{path('tienda', {'category': 1}) }}">
                                <img src="{{ asset('assets/images/categorias/decohogar.jpg')}}" alt="">
                            </a>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a href="{{path('tienda', {'category': 1}) }}"><span class="blod">Decohogar</span> {#<span
                                        class="available-product"></span>#}</a></h3>
                        </div>
                    </div>
                </div>
                
                <div class="product-plr-1">
                    <div class="single-product-wrap mb-35">
                        <div class="product-img product-img-zoom mb-20">
                            <a href="{{path('tienda', {'category': 6}) }}">
                                <img src="{{ asset('assets/images/categorias/belleza.png')}}" alt="">
                            </a>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a href="{{path('tienda', {'category': 6}) }}"><span class="blod">Belleza</span>{#<span
                                        class="available-product"></span>#}</a></h3>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap mb-35">
                        <div class="product-img product-img-zoom mb-20">
                            <a href="{{path('tienda', {'category': 7}) }}">
                                <img src="{{ asset('assets/images/categorias/accesorio.jpg')}}" type="image">
                            </a>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a href="{{path('tienda', {'category': 7}) }}"><span class="blod">Accesorios</span> {#<span
                                        class="available-product"></span>#}</a></h3>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap mb-35">
                        <div class="product-img product-img-zoom mb-20">
                            <a href="{{path('tienda', {'category': 8}) }}">
                                <img src="{{ asset('assets/images/categorias/gourmet.jpg')}}" alt="">
                            </a>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a href="{{path('tienda', {'category': 8}) }}"><span class="blod">Gourmet</span> {#<span
                                        class="available-product"></span>#}</a></h3>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap mb-35">
                        <div class="product-img product-img-zoom mb-20">
                            <a href="{{path('tienda', {'category': 9}) }}">
                                <img src="{{ asset('assets/images/categorias/mascota.jpg')}}" alt="">
                            </a>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a href="{{path('tienda', {'category': 9}) }}"><span class="blod">Mascotas</span> {#<span
                                        class="available-product"></span>#}</a></h3>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap mb-35">
                        <div class="product-img product-img-zoom mb-20">
                            <a href="{{path('tienda', {'category': 10}) }}">
                                <img src="{{ asset('assets/images/categorias/artesania.jpg')}}" alt="">
                            </a>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a href="{{path('tienda', {'category': 10}) }}"><span class="blod">Artesanías</span> {#<span
                                        class="available-product"></span>#}</a></h3>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap mb-35">
                        <div class="product-img product-img-zoom mb-20">
                            <a href="{{path('tienda', {'category': 11}) }}">
                                <img src="{{ asset('assets/images/categorias/bebida.jpg')}}" alt="">
                            </a>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a href="{{path('tienda', {'category': 11}) }}"><span class="blod">Bebidas</span> {#<span
                                        class="available-product"></span>#}</a></h3>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap mb-35">
                        <div class="product-img product-img-zoom mb-20">
                            <a href="{{path('tienda', {'category': 12}) }}">
                                <img src="{{ asset('assets/images/categorias/cosmetica.jpg')}}" alt="">
                            </a>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a href="{{path('tienda', {'category': 12}) }}"><span class="blod">Cosmética</span> {#<span
                                        class="available-product"></span>#}</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area">
        <div class="container">
            <div class="section-title-2 text-center mb-45">
                <h2>Productos Destacados</h2>
            </div>
            <div class="tab-btn-wrap mb-40">
                <div class="tab-style-2 nav">
                    <a class="active" href="#product-1" data-toggle="tab">Todos los productos</a>
                    <a href="#product-2" data-toggle="tab">Ropa</a>
                    <a href="#product-3" data-toggle="tab">Zapatos</a>
                    <a href="#product-4" data-toggle="tab">Mochilas</a>
                    <a href="#product-5" data-toggle="tab">Artesanía</a>
                </div>
                <div class="btn-style-2">
                    <a class="animated" href="{{ path('tienda') }}">Ver Todos los Productos<i
                            class="icon-arrow-right"></i></a>
                </div>
            </div>
            <div class="tab-content jump">
                {# todos los productos #}
                <div id="product-1" class="tab-pane active">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-product-wrap mb-35">
                                <div class="product-img product-img-zoom mb-15">
                                    <a href="#">
                                        <img src="{{ asset('assets/examples/270x324/Belleza.png')}}" alt="">
                                    </a>
                                    <span class="pro-badge left bg-red">-20%</span>
                                    <div class="product-action-2 tooltip-style-2">
                                        {# <button title="Wishlist"><i class="icon-heart"></i></button>
                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i
                                                class="icon-size-fullscreen icons"></i></button>
                                        <button title="Compare"><i class="icon-refresh"></i></button> #}
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Pétalos Desmaquillantes</a></h3>
                                    <div class="product-price-2">
                                        {#<span class="new-price">$35.45</span>#}
                                        <span class="old-price">$ 7.000</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 product-content-position text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Pétalos Desmaquillantes</a></h3>
                                    <div class="product-price-2">
                                        {# <span class="new-price">$35.45</span> #}
                                        <span class="old-price">$ 7.000</span>
                                    </div>
                                    <div class="pro-add-to-cart">
                                        <button title="Pronto!!!">Pronto!!!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# ropa #}
                <div id="product-2" class="tab-pane">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-product-wrap mb-35">
                                <div class="product-img product-img-zoom mb-15">
                                    <a href="#">
                                        <img src="{{ asset('assets/examples/270x324/Mascota.png')}}" alt="">
                                    </a>
                                    <div class="product-action-2 tooltip-style-2">
                                        {# <button title="Wishlist"><i class="icon-heart"></i></button>
                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i
                                                class="icon-size-fullscreen icons"></i></button>
                                        <button title="Compare"><i class="icon-refresh"></i></button> #}
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="">Cama para Perro</a></h3>
                                    <div class="product-price-2">
                                        <span>$ 15.000</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 product-content-position text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Cama de perro</a></h3>
                                    <div class="product-price-2">
                                        <span>$ 15.000</span>
                                    </div>
                                    <div class="pro-add-to-cart">
                                        <button title="Pronto!!!">Pronto!!!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# zapatos #}
                <div id="product-3" class="tab-pane">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-product-wrap mb-35">
                                <div class="product-img product-img-zoom mb-15">
                                    <a href="#">
                                        <img src="{{ asset('assets/examples/270x324/ZapMujer.jpg')}}" alt="">
                                    </a>
                                    <div class="product-action-2 tooltip-style-2">
                                        {# <button title="Wishlist"><i class="icon-heart"></i></button>
                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i
                                                class="icon-size-fullscreen icons"></i></button>
                                        <button title="Compare"><i class="icon-refresh"></i></button> #}
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Zapato Mujer Chilote</a></h3>
                                    <div class="product-price-2">
                                        <span>$ 23.990</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 product-content-position text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Zapato Mujer Chilote</a></h3>
                                    <div class="product-price-2">
                                        <span>$ 23.990</span>
                                    </div>
                                    <div class="pro-add-to-cart">
                                        <button title="Pronto!!!">Pronto!!!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# mochilas #}
                <div id="product-4" class="tab-pane">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-product-wrap mb-35">
                                <div class="product-img product-img-zoom mb-15">
                                    <a href="#">
                                        <img src="{{ asset('assets/examples/270x324/accMujer.jpg')}}" alt="">
                                    </a>
                                    <div class="product-action-2 tooltip-style-2">
                                        {# <button title="Wishlist"><i class="icon-heart"></i></button>
                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i
                                                class="icon-size-fullscreen icons"></i></button>
                                        <button title="Compare"><i class="icon-refresh"></i></button> #}
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Bolso Mujer</a></h3>
                                    <div class="product-price-2">
                                        <span>$ 7.990</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 product-content-position text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Bolso Mujer</a></h3>
                                    <div class="product-price-2">
                                        <span>$ 7.990</span>
                                    </div>
                                    <div class="pro-add-to-cart">
                                        <button title="Pronto!!!">Pronto!!!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-product-wrap mb-35">
                                <div class="product-img product-img-zoom mb-15">
                                    <a href="#">
                                        <img src="{{ asset('assets/examples/270x324/accNino.jpg')}}" alt="">
                                    </a>
                                    <span class="pro-badge left bg-red">-20%</span>
                                    <div class="product-action-2 tooltip-style-2">
                                        {# <button title="Wishlist"><i class="icon-heart"></i></button>
                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i
                                                class="icon-size-fullscreen icons"></i></button>
                                        <button title="Compare"><i class="icon-refresh"></i></button> #}
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Bolsa para Juguetes</a></h3>
                                    <div class="product-price-2">
                                        <span class="new-price">$ 8.000</span>
                                        <span class="old-price">$ 10.000</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 product-content-position text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Bolsa para Juguetes</a></h3>
                                    <div class="product-price-2">
                                        <span class="new-price">$ 8.000</span>
                                        <span class="old-price">$ 10.000</span>
                                    </div>
                                    <div class="pro-add-to-cart">
                                        <button title="Pronto!!!">Pronto!!!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# accesorios #}
                <div id="product-5" class="tab-pane">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-product-wrap mb-35">
                                <div class="product-img product-img-zoom mb-15">
                                    <a href="#">
                                        <img src="{{ asset('assets/examples/270x324/Artesania.jpg')}}" alt="">
                                    </a>
                                    <div class="product-action-2 tooltip-style-2">
                                        {# <button title="Wishlist"><i class="icon-heart"></i></button>
                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i
                                                class="icon-size-fullscreen icons"></i></button>
                                        <button title="Compare"><i class="icon-refresh"></i></button> #}
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Lana 100% Artesanal</a></h3>
                                    <div class="product-price-2">
                                        <span>$ 5.000</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 product-content-position text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Lana 100% Artesanal</a></h3>
                                    <div class="product-price-2">
                                        <span>$ 5.000</span>
                                    </div>
                                    <div class="pro-add-to-cart">
                                        <button title="Pronto!!!">Pronto!!!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-product-wrap mb-35">
                                <div class="product-img product-img-zoom mb-15">
                                    <a href="#">
                                        <img src="{{ asset('assets/examples/270x324/Artesania-1.jpg')}}" alt="">
                                    </a>
                                    <span class="pro-badge left bg-red">-20%</span>
                                    <div class="product-action-2 tooltip-style-2">
                                        {# <button title="Wishlist"><i class="icon-heart"></i></button>
                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i
                                                class="icon-size-fullscreen icons"></i></button>
                                        <button title="Compare"><i class="icon-refresh"></i></button> #}
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Pesto Tomate</a></h3>
                                    <div class="product-price-2">
                                        <span class="new-price">$ 2000</span>
                                        <span class="old-price">$ 2500</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 product-content-position text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Pesto Tomate</a></h3>
                                    <div class="product-price-2">
                                        <span class="new-price">$ 2000</span>
                                        <span class="old-price">$ 2500</span>
                                    </div>
                                    <div class="pro-add-to-cart">
                                        <button title="Pronto!!!">Pronto!!!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-product-wrap mb-35">
                                <div class="product-img product-img-zoom mb-15">
                                    <a href="#">
                                        <img src="{{ asset('assets/examples/270x324/Artesania-2.jpg')}}" alt="">
                                    </a>
                                    <div class="product-action-2 tooltip-style-2">
                                        {# <button title="Wishlist"><i class="icon-heart"></i></button>
                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i
                                                class="icon-size-fullscreen icons"></i></button>
                                        <button title="Compare"><i class="icon-refresh"></i></button> #}
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Tazón para Mate</a></h3>
                                    <div class="product-price-2">
                                        <span>$ 6.000</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 product-content-position text-center">
                                    <div class="product-rating-wrap">
                                        <div class="product-rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star gray"></i>
                                        </div>
                                        <span>(2)</span>
                                    </div>
                                    <h3><a href="#">Tazón para Mate</a></h3>
                                    <div class="product-price-2">
                                        <span>$ 6.000</span>
                                    </div>
                                    <div class="pro-add-to-cart">
                                        <button title="Pronto!!!">Pronto!!!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-product-wrap mb-35">
                                <div class="product-img product-img-zoom mb-15">
                                    <a href="#">
                                        <img src="{{ asset('assets/examples/270x324/Artesania-3.png')}}" alt="">
                                    </a>
                                    <div class="product-action-2 tooltip-style-2">
                                        {# <button title="Wishlist"><i class="icon-heart"></i></button>
                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i
                                                class="icon-size-fullscreen icons"></i></button>
                                        <button title="Compare"><i class="icon-refresh"></i></button> #}
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 text-center">
                                    <h3><a href="#">Confitura  de Calabaza con Nuez</a></h3>
                                    <div class="product-price-2">
                                        <span>$ 3.000</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 product-content-position text-center">
                                    <h3><a href="#">Confitura  de Calabaza con Nuez</a></h3>
                                    <div class="product-price-2">
                                        <span>$ 3.000</span>
                                    </div>
                                    <div class="pro-add-to-cart">
                                        <button title="Pronto!!!">Pronto!!!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {#  <div class="deal-area pt-150 pb-130 bg-img mb-110"
        style="background-image:url(assets/images/banner/banner/banner.png);">
        <div class="container">
            <div class="deal-content-1">
                <span>No pases por alto</span>
                <h2 class="text-blue"><span>OFERTAS!!</span> Productos 100% <br> Chilenos</h2>
                <p class="text-blue">Apoya a las pymes Chilenas tienen una gran variedad de productos a un precio accesible.</p>
                <div class="timer-wrap">
                </div>
                <div class="deal-btn">
                    <a href="{{path('tienda')}}">Ir Ahora</a>
                </div>
            </div>
        </div>
    </div> #}
    {% include "base/footer.html.twig" %}
    <!-- Modal -->

    <div class="modal bd-example-modal-sm show" tabindex="-1" role="dialog" id="beta">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                    <img class="img-fluid mr-3 modal-logo" src="{{ asset('assets/branding/logo.png') }}" alt="Logo" title="ChileYa"> 
                    <h1 class="modal-title m-auto">Tenemos novedades</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p class="modal-description2">
                        Ahora puedes vender tus experiencias turísticas 24/7 
                        <br>
                        de forma automatizada y con pago inmediato a través de <strong>WebPay Plus.</strong>
                    </p>
                    
                    {# <p class="modal-description2">Ahora puedes vender tus experiencias turísticas y tours en nuestra plataforma 24/7 de forma automatizada
                        y con pago inmediato a través de WebPay Plus.
                    </p> #}
                    <button type="button" class="btn btn-primary modal-button" data-dismiss="modal">¡ENTENDIDO!</button>
                    {# <img src="https://media.giphy.com/media/o0vwzuFwCGAFO/giphy.gif" alt="Proximamente"> #}
                </div>
            </div>
        </div>
    </div>

    {# {% include "base/modalQuickView.html.twig" %} #}
    <!-- Modal end -->
</div>
{% endblock body %}

{% block javascripts %}
<script>
    /*$(window).on('load', function() {
        $('#beta').modal('show');
    });*/
</script>
{% endblock javascripts %}