{% extends 'base/base.html.twig' %}

{% block body %}
    {% include 'base/header.html.twig' %}
    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="{{ path('index') }}">Home</a>
                    </li>
                    <li class="active">Pago Exitoso</li>
                </ul>
            </div>
        </div>
    </div>
        <div class="shop-area pt-120 pb-120">
				<div class="container">
				<div class="text-left mb-20">
        			<h3 style="color: #1f429b">¡Gracias por tu compra!</h3>
        		</div>
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="tr-single-box">
								
								<div class="tr-single-body">
									<div class="detail-wrapper padd-top-30 padd-bot-30">
										<div class="row  mrg-0 detail-invoice">

											<hr>
											
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="invoice-table">
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	{# <th>Imagen</th> #}
																	<th>Producto</th>
																	<th class="text-center">Precio unitario</th>
																	<th class="text-center">Cantidad</th>
																	<th class="text-center">Total</th>
																	
																</tr>
															</thead>
															<tbody>
																{% if cart %}
																	{% for item in cart.products_sales %}
																	<tr>
																		{# <td><img class="prod-thum" src="{{item.product_image}}" /></td> #}
																		<td>{{item.product_name}} - {{ item.variant_name }}</td>
																		<td class="text-center">${{item.product_price | number_format(0,',', '.')}}</td>
																		<td class="text-center">{{item.quantity}}</td>
																		<td class="text-center">${{item.original_price | number_format(0,',', '.') }}</td>
																		
																	</tr>
																	{% endfor %}
																	
																{% else %}
																	<tr><td colspan="6">No se encontraron productos en el carrito</td></tr>
																{% endif %}
															</tbody>
														</table>
													</div>
													<hr>
													{% if cart %}
														<div class="float-right">
															<div>
																<p>Sub total : ${{cart.subtotal | number_format(0,',', '.') }} </p>
															</div>
															<hr>
															<div>
																<p>Envío : ${{cart.shipping_total | number_format(0,',', '.') }} </p>
															</div>
															<hr>
															<div>
																<p>Total descuento : ${{cart.total_discount | number_format(0,',', '.') }} </p>
															</div>
															<hr>
															<div>
																<h4>Total : ${{cart.total_price | number_format(0,',', '.') }} </h4>
															</div>
														</div>
													{% endif %}	
													{# <div style="text-align:center">
														<a type="button" href="{{path('index')}}" class="closed btn btn-primary">Volver al inicio</a>
													</div> #}
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
    {% include 'base/footer.html.twig' %}
{% endblock %}