{% extends "base/base.html.twig" %}

{% block stylesheets %}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}

{% block body %}

<div class="main-wrapper">
    <!-- Desktop header start -->
    {% include "base/header.html.twig" %}
    <!-- Desktop header /end -->

    <!-- mini cart start -->
    {% include "base/minicarrito.html.twig" %}
    <!-- mini cart /end -->
    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="{{ path('index') }}">Home</a>
                    </li>
                    <li class="active">{{product.name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="product-details-area pt-120 pb-115">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="product-details-tab">
                        <div class="product-dec-right pro-dec-big-img-slider" id="images-div">
                            {% for image in product.images %}
                            <div class="easyzoom-style">
                                <div class="easyzoom--overlay">
                                    <a class="img-popup" href="{{image.url}}">
                                        <img class="preview" src="{{image.url}}" alt="">
                                    </a>
                                </div>
                                <a class="easyzoom-pop-up img-popup"  href="{{image.url}}"><i
                                        class="icon-size-fullscreen"></i></a>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="product-dec-left product-dec-slider-small-2 product-dec-small-style2" id="image-preview-div">
                            {% for image in product.images %}
                            <div class="product-dec-small">
                                <img class="carrusel-vertical" src="{{image.url}}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="product-details-content pro-details-content-mt-md">
                        <h2>{{product.name}}</h2>
                        <div class="product-ratting-review-wrap">
                            
                        </div>
                        <p>{{product.description}}</p>
                        <div class="pro-details-price">
                            <span class="" id="price">${{product.price|number_format(0,',', '.')}}</span>
                        </div>
                        
                        {% for option in product.options %}
                            <div class="pro-details-size">
                                <span>{{option.name}}</span>
                                <select class="form-control product-option" name="option_{{loop.index}}" id="option_{{loop.index}}">
                                    {% for value in option.values %}
                                        <option value="{{value.name}}">{{value.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                        
                        <form action="{{path('addToCart')}}" method="POST" id="product-form">
                            <div class="pro-details-quality">
                                <span>Cantidad:</span>
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="number" name="product_quantity"
                                        id="product_quantity" value="1" oninput="this.value = Math.round(this.value);"
                                        data-max="{{product.stock}}">
                                </div>
                            </div>
                            <div class="product-details-meta">
                                <ul>
                                    <li><span>Etiqueta: </span>                                        
                                        <a href="#">{{ product.tags }}</a>
                                </ul>
                            </div>

                            <div class="pro-details-action-wrap">
                                <div class="pro-details-add-to-cart">
                                    <input type="hidden" name="variant_id" value="{{product.variants[0].id}}" id="variantId">
                                    {% if product.status %}
                                        <a title="Agregar al Carrito" onclick="addToCart()" id="add-cart" disabled="true">Agregar al Carrito</a>
                                        <a id="load-cart" style="display: none">Cargando...</a>
                                    {% else %}
                                        <span>Producto no Disponible</span>
                                    {% endif %}
                                </div>
                                {% if product.url_tienda is not null %}
                                    <div class="pro-details-action">
                                        <a title="Ver Empresa" href="{{product.url_tienda}}">Ver Empresa</a>
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="description-review-wrapper pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dec-review-topbar nav mb-45">
                        <a class="active" data-toggle="tab" href="#des-details1">Descripcion</a>
                    </div>
                    <div class="tab-content dec-review-bottom">
                        <div id="des-details1" class="tab-pane active">
                            <div class="description-wrap">
                                <p>{{product.description}}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="related-product pb-115">
        <div class="container">
            <div class="section-title mb-45 text-center">
                <h2>Productos relacionados</h2>
            </div>
            <div class="related-product-active">
                {% for products in products.items %}
                <div class="product-plr-1">
                    <div class="single-product-wrap">
                        <div class="product-img product-img-zoom mb-15">
                            <a href="{{path('producto',{'slug':products.slug})}}">
                                <img src="{{ products.img }}" alt="">
                            </a>
                            {#<div class="product-action-2 tooltip-style-2">
                                <button title="Wishlist"><i class="icon-heart"></i></button>
                                <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i
                                        class="icon-size-fullscreen icons"></i></button>
                                <button title="Compare"><i class="icon-refresh"></i></button>
                            </div>#}
                        </div>
                        <div class="product-content-wrap-2 text-center">
                            {#<div class="product-rating-wrap">
                                <div class="product-rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star gray"></i>
                                </div>
                                <span>(2)</span>
                            </div>#}
                            <h3><a href="{{path('producto',{'slug':products.slug})}}">{{ products.name }}</a></h3>
                            <div class="product-price-2">
                                <span>${{ products.price|number_format(0,',', '.') }}</span>
                            </div>
                        </div>
                        <div class="product-content-wrap-2 product-content-position text-center">
                            <h3><a href="{{path('producto',{'slug':products.slug})}}">{{ products.name }}</a></h3>
                            <div class="product-price-2">
                                <span>${{ products.price|number_format(0,',', '.') }}</span>
                            </div>
                            <div class="pro-add-to-cart">
                                <button title="Ir al producto" href="{{path('producto',{'slug':products.slug})}}" >Ir al Producto</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "base/footer.html.twig" %}
    <!-- Modal -->
    {% include "base/modalQuickView.html.twig" %}
    <!-- Modal end -->
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
    
    $(".product-option").change(function(){
      var variantName ="";
      var productId= "{{product.id}}";
      $(".product-option").each(function(){
        if (variantName != '') {
          variantName = variantName +'/'+$(this).val();
        }else{
          variantName = $(this).val();
        }
      });

      var parametros = {
        "variantName": variantName,
        "productId" : productId
      };

      $.ajax({
        type: 'GET',
        url: '{{path('checkProductVariant')}}',
        data: parametros,
        dataType: "json",
        beforeSend: function(){
/*          $("#add-cart").attr("disabled", true);
          $("#add-cart").text('Cargando...');*/
          $("#add-cart").hide();
          $("#load-cart").text('Cargando...');
          $("#load-cart").show();
        },
        success: function(response){
          var formatter = new Intl.NumberFormat('es-Cl', {
            style: 'currency',
            currency: 'CLP',

            // These options are needed to round to whole numbers if that's what you want.
            minimumFractionDigits: 0,
            maximumFractionDigits: 0,
          });
          
            $("#variantId").val(response.id);
            document.getElementById("price").innerHTML = formatter.format(response.price);
            if(response.images){
                /*document.getElementById("images-div").innerHTML = '';
                document.getElementById("image-preview-div").innerHTML = '';
                response.images.forEach(function (item) {
                    console.log(item);
                    document.getElementById("images-div").innerHTML = 
                    `<div class="easyzoom-style">
                        <div class="easyzoom--overlay">
                            <a class="img-popup" href="${item.url}">
                                <img class="preview" src="${item.url}" alt="">
                            </a>
                        </div>
                        <a class="easyzoom-pop-up img-popup"  href="${item.url}"><i
                                class="icon-size-fullscreen"></i></a>
                    </div>`;
                    document.getElementById("image-preview-div").innerHTML += 
                    `<div class="product-dec-small">
                        <img class="carrusel-vertical" src="${item.url}" alt="">
                    </div>`;
                });*/
                $('.pro-dec-big-img-slider').slick('removeSlide', null, null, true);
                $('.product-dec-slider-small-2').slick('removeSlide', null, null, true);
                response.images.forEach(function (item) {
                    $('.pro-dec-big-img-slider').slick('slickAdd',
                    `<div class="easyzoom-style">
                        <div class="easyzoom--overlay">
                            <a class="img-popup" href="${item.url}">
                                <img class="preview" src="${item.url}" alt="">
                            </a>
                        </div>
                        <a class="easyzoom-pop-up img-popup"  href="${item.url}"><i
                                class="icon-size-fullscreen"></i></a>
                    </div>`);
                    $('.product-dec-slider-small-2').slick('slickAdd',
                    `<div class="product-dec-small">
                        <img class="carrusel-vertical" src="${item.url}" alt="">
                    </div>`);
                });
            }
            
            
            if(parseInt(response.stock) > 0){
                $("#add-cart").show();
                $("#load-cart").hide();
            }else{
                $("#load-cart").text('Opción no Disponible');
            }
        }
        });
    });
    function addToCart() {

        {% if app.session.get('cartId') is empty %}
        const cart_id = null;
        {% else %}
        const cart_id = "{{app.session.get('cartId')}}";
        {% endif %}
        data = {
            "product_id": "{{product.id}}",
            "variant_id": $("#variantId").val(),
            "quantity_products": $('#product_quantity').val(),
            "cart_id": cart_id
        };

        $.ajax({
            type: "POST",
            url: "{{path('addToCart')}}",
            dataType: 'json',
            data: data,
            success: function (response, data, textStatus, xhr) {
                /*if (cart_id == null) {
                    parametros = { 'cartId': response[0].cart_id }
                    var url = Routing.generate('createCartSession', parametros);
                    $.ajax({
                        type: "POST",
                        url: url,
                        success: function (response, data, textStatus, xhr) {
                            location.reload();
                        }
                    });
                }*/
                console.log('exito agregar: '+ response);
                var url = Routing.generate('carrito');
                document.location.href = url;
            }
        });
    }
</script>

<script>
    /*----------------------------
        Cart Plus Minus Button
    ------------------------------ */

    var CartPlusMinus = $('.cart-plus-minus');
    CartPlusMinus.prepend('<div class="dec qtybutton">-</div>');
    CartPlusMinus.append('<div class="inc qtybutton">+</div>');
    $(".qtybutton").on("click", function () {
        var button = $(this);
        var oldValue = button.parent().find("input").val();
        if (button.text() === "+") {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 1;
            }
        }
        button.parent().find("input").val(newVal);
    });
</script>

{% endblock %}