{% extends "base/base.html.twig" %}
{% block title %}
{{empresa.empresaNombreFantasia}}
{% endblock %}
{% block body %}
<div class="main-wrapper">
    <!-- Desktop header start -->
    {% include "base/shopHeader.html.twig" %}
    <!-- Desktop header /end -->
    <!-- mini cart start -->
    {% include "base/minicarrito.html.twig" %}
    <!-- mini cart /end -->
    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->
    <div class="container slider-area bg-white">
        <div
            class="hero-slider-active-1 nav-style-2 nav-style-2-modify dot-style-2 dot-style-2-position-3 dot-style-2-active-black">
            <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg res-black-overly-xs"
                style="background-image:url({{empresa.empresaImagen}});">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slider-content-2 hero-slider-content-hm5 slider-animated-1">
                                <h1 class="animated"><span>{{empresa.empresaTitulo}}</span></h1>
                                <p class="animated">{{empresa.empresaDescripcion}}</p>
                                <div class="btn-style-2">
                                    {#<a class="animated" href="product-details.html">explore now <i
                                            class="icon-arrow-right"></i></a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg res-black-overly-xs"
                style="background-image:url(/assets/images/slider/hm-5-slider-2.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slider-content-2 hero-slider-content-hm5 slider-animated-1">
                                <h1 class="animated"><span>Realtree</span> <br>Print Belt Bagn</h1>
                                <p class="animated">Lorem ipsum dolor sit amet, consectetur adipis elit. Nunc imperdiet,
                                    nulla.</p>
                                <div class="btn-style-2">
                                    <a class="animated" href="product-details.html">explore now <i
                                            class="icon-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}
        </div>
    </div>
    {#<div class="contact-area pt-115">
        <div class="container">
            <div class="contact-info-wrap-3">
                <h3>Información de {{empresa.empresaNombreFantasia}}</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="single-contact-info-3 text-center mb-30">
                            <i class="icon-location-pin "></i>
                            <h4>Comuna</h4>
                            <p>{{empresa.empresaComuna}} </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-contact-info-3 extra-contact-info text-center mb-30">
                            <ul>
                                <li><i class="icon-screen-smartphone"></i> {{empresa.empresaTelefono}} </li>
                                <li><i class="icon-envelope "></i> <a href="mailto:{{empresa.empresaContactoCorreo}}">
                                        {{empresa.empresaContactoCorreo}} </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-contact-info-3 text-center mb-30">
                            <i class="icon-home "></i>
                            <h4>Dirección</h4>
                            <p>{{empresa.empresaDireccion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>#}
    <div class="container pt-60">
        <div class="col-12">
                <div class="media">
                    <div class="avatar mr-5">
                        <img src="{{empresa.empresaLogo}}" alt="logo"
                        class="img-fluid rounded-circle" style="height: 120px; width: auto; ">
                    </div>
                    <div class="media-body overflow-hidden">
                        <div class="d-flex align-items-center mb-1">
                            <h2 class="text-truncate mb-3 mr-auto">{{empresa.empresaNombreFantasia}}</h2>
                        </div>
                        <div class="text-truncate text-capitalize">{{empresa.empresaRegion|capitalize}}/{{empresa.empresaComuna|capitalize}}</div>
                    </div>
                </div>
        </div>          
    </div>
    <div class="service-area bg-white pt-45">
        <div class="container">
            <div class="pb-50">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="single-service-wrap mb-30">
                            <div class="service-icon service-icon-black">
                                <i class="icon-globe"></i>
                            </div>
                            <div class="service-content">
                                <h3>Produccion Nacional</h3>                      
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="single-service-wrap mb-30">
                            <div class="service-icon service-icon-black">
                                <i class="icon-present"></i>
                            </div>
                            <div class="service-content">
                                <h3>Regalos</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="single-service-wrap mb-30">
                            <div class="service-icon service-icon-black">
                                <i class="icon-lock"></i>
                            </div>
                            <div class="service-content">
                                <h3>Pago Seguro</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="single-service-wrap mb-30">
                            <div class="service-icon service-icon-black">
                                <i class="icon-tag"></i>
                            </div>
                            <div class="service-content">
                                <h3>Mejores Precios</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-area pb-60">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-12">
                    <div class="shop-topbar-wrapper">
                        <div class="shop-topbar-left">
                            <div class="view-mode nav">
                                <a class="active" href="#shop-1" data-toggle="tab"><i class="icon-grid"></i></a>
                                <a href="#shop-2" data-toggle="tab"><i class="icon-menu"></i></a>
                            </div>
                            <p>Mostrando {{productos|length}} resultados </p>
                        </div>
                        {#<div class="product-sorting-wrapper">
                            <div class="product-shorting shorting-style">
                                <label>View :</label>
                                <select>
                                    <option value=""> 20</option>
                                    <option value=""> 23</option>
                                    <option value=""> 30</option>
                                </select>
                            </div>
                            <div class="product-show shorting-style">
                                <label>Sort by :</label>
                                <select>
                                    <option value="">Default</option>
                                    <option value=""> Name</option>
                                    <option value=""> price</option>
                                </select>
                            </div>
                        </div>#}
                    </div>
                    <div class="shop-bottom-area">
                        <div class="tab-content jump">
                            <div id="shop-1" class="tab-pane active">
                                <div class="row">
                                    {% if not productos %}
                                    <div class="col-12">
                                        <div class="about-us-content">
                                            <h3>Lo sentimos :(</h3>
                                            <p>No esta el producto tal como lo buscaste, intenta de otra manera</p>
                                            <div class="signature">
                                                <h2>sa se si so su SA SE SI SO SU</h2>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% for products in productos %}
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="single-product-wrap mb-35">
                                            <div class="product-img product-img-zoom mb-15">
                                                <a href="{{path('producto',{'slug':products.slug})}}">
                                                    <img class="object-fit" src="{{ products.img }}" alt="">
                                                </a>
                                                <div class="product-action-2 tooltip-style-2">
                                                    <button title="Wishlist" onclick="addToWishlist({{products.id}})"><i
                                                            class="icon-heart"></i></button>{#
                                                    <button title="Quick View" data-toggle="modal"
                                                        data-target="#exampleModal"><i
                                                            class="icon-size-fullscreen icons"></i></button>
                                                    <button title="Compare"><i class="icon-refresh"></i></button>#}
                                                </div>
                                            </div>
                                            <div class="product-content-wrap-2 text-center">
                                                {#<div class="product-rating-wrap">
                                                    <div class="product-rating">
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star gray"></i>
                                                    </div>
                                                    <span>(2)</span>
                                                </div>#}
                                                <h3><a href="{{path('producto',{'slug':products.slug})}}">{{
                                                        products.name }}</a></h3>
                                                        
                                                <div class="product-price-2">
                                                    <span>${{ products.price|number_format(0,',', '.') }}</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap-2 product-content-position text-center">
                                                {# <div class="product-rating-wrap">
                                                    <div class="product-rating">
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star gray"></i>
                                                    </div>
                                                    <span>(2)</span>
                                                </div> #}
                                                <h3><a href="{{path('producto',{'slug':products.slug})}}">{{products.name }}</a></h3>
                                                <div class="product-price-2">
                                                    <span>${{ products.price|number_format(0,',', '.') }}</span>
                                                </div>
                                                <div class="pro-add-to-cart">
                                                    <button title="Ir al producto" onclick="{{path('producto',{'slug':products.slug})}}">Ir al producto</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="shop-2" class="tab-pane">
                                {% for products in productos %}
                                <div class="shop-list-wrap mb-30">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                                            <div class="product-list-img">
                                                <a href="{{path('producto',{'slug':products.slug})}}">
                                                    <img src="{{ products.img }}" alt="Product Style">
                                                </a>
                                                <div class="product-list-quickview">
                                                    {# <button title="Quick View" data-toggle="modal"
                                                        data-target="#exampleModal"><i
                                                            class="icon-size-fullscreen icons"></i></button>#}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                                            <div class="shop-list-content">
                                                <h3><a href="{{path('producto',{'slug':products.slug})}}">{{
                                                        products.name }}</a></h3>
                                                <div class="pro-list-price">
                                                    <span class="new-price">${{ products.price|number_format(0,',', '.')
                                                        }}</span>
                                                </div>
                                                {#<div class="product-list-rating-wrap">
                                                    <div class="product-list-rating">
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star gray"></i>
                                                        <i class="icon_star gray"></i>
                                                    </div>
                                                    <span>(3)</span>
                                                </div>#}
                                                <p>{{products.description}}</p>
                                                {#<div class="product-list-action">
                                                    <button title="Add To Cart"><i
                                                            class="icon-basket-loaded"></i></button>
                                                    <button title="Wishlist"><i class="icon-heart"></i></button>
                                                    <button title="Compare"><i class="icon-refresh"></i></button>
                                                </div>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {# <div class="pro-pagination-style text-center mt-10">
                            <ul>
                                <li><a class="prev" href="#"><i class="icon-arrow-left"></i></a></li>
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a class="next" href="#"><i class="icon-arrow-right"></i></a></li>
                            </ul>
                        </div> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {% include "base/footer.html.twig" %}
    <!-- footer /end -->
</div>
{% endblock body %}

{% block javascripts %}

{% endblock %}