{% extends "base/base.html.twig" %}

{% block body %}

<div class="main-wrapper">
    <!-- Desktop header start -->
    {% include "base/header.html.twig" %}
    <!-- Desktop header /end -->
    <!-- mini cart start -->
    {% include "base/minicarrito.html.twig" %}
    <!-- mini cart /end -->
    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="{{ path('index') }}">Home</a>
                    </li>
                    <li class="active">Información de envío </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="checkout-main-area pt-120 pb-120">
        <div class="container">
            
            <div class="checkout-wrap pt-30">
                <form method="POST" id="form_shipping_information">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="billing-info-wrap mr-50">
                                <h3>Información de Contacto</h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-20">
                                            <label>Nombre Completo <abbr class="required"
                                                    title="required">*</abbr></label>
                                            <input type="text" placeholder="Nombre Completo" name="costumerName"
                                                required value="{{profile.name}}" id="costumerName">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-20">
                                            <label>Rut <abbr class="required"
                                                    title="required">*</abbr></label>
                                            <input type="text" placeholder="Rut" name="costumerRut"
                                                required value="{{profile.rut}}" id="costumerRut" class="rut">
                                            <span id="error-rut" style="display:none;color:red">El Rut no es válido</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="billing-info mb-20">
                                            <label>Número de contacto <abbr class="required"
                                                    title="required">*</abbr></label>
                                            <input type="text" placeholder="Número de Contacto" name="costumerPhone"
                                                required value="{{profile.phone}}" id="phone">
                                            <span id="error-msg" style="display: none; color: red">Numero inválido, por favor ajustar al formato solicitado, ej. +56987654321</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-20">
                                            <label>Correo Electrónico <abbr class="required"
                                                    title="required">*</abbr></label>
                                            <input type="email" placeholder="Correo Electrónico" name="costumerEmail"
                                                required value="{{profile.email}}">
                                        </div>
                                    </div>
                                </div>
                                <h3>Información de envío</h3>
                                {% if profile.shipping_information %}
                                    <div class="myaccount-table table-responsive text-center">
                                        Direcciones Guardadas
                                        <table class="table table-bordered">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th></th>
                                                    <th>Dirección</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in profile.shipping_information %}
                                                    <tr>
                                                        <td><input id="shipping_information_id" class="input-radio shipping_address_id" type="radio" value="{{item.id}}" name="shipping_information_id" {% if cart.shipping_info.shippingAddress == item.address %}
                                                            checked
                                                        {% endif %}></td>
                                                        <td>
                                                            {{item.address}}. {{item.commune.nombre}}
                                                            <br>
                                                            {{ item.region.nombre }}
                                                            <input type="hidden" id="info_{{item.id}}" data-region="{{item.region.id}}" data-comuna = "{{item.commune.id}}" data-city="{{item.city}}" data-address="{{item.address}}">
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                                <div class="checkout-account mt-25">
                                    <input class="checkout-toggle" type="checkbox" id="alternative_shipping" name="alternative_shipping" style="width: 20px !important; height: 15px !important">
                                    <span>Enviar a otra dirección </span>
                                </div>

                                <div class="different-address open-toggle mt-30" id="addres_div">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="billing-info mb-20">
                                                <label>Nombre Contacto <abbr class="required"
                                                        title="required">*</abbr></label>
                                                <input class="billing-address shipping-info" placeholder="Nombre de quien recibe"
                                                    type="text" name="shippingName" id="shippingName" required value="{{cart.shipping_info.shippingName}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="billing-info mb-20">
                                                <label>Rut <abbr class="required" title="Solo Rut Chileno">*</abbr></label>
                                                <input type="text" placeholder="Rut 12345678-9" name="shippingRut" class="rut"
                                                    maxlength="10" class="shipping-info" id="shippingRut" required value="{{cart.shipping_info.shippingRut}}">
                                                <span id="error-rut" style="display:none;color:red">El Rut no es válido</span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <label>Región <abbr class="required" title="required">*</abbr></label>
                                                <select id="region_id" name="region_id" class="form-control shipping-info" style="height: 50px !important; border-color: #e8e8e8" required>
                                                    <option value="">Seleccionar Región</option>
                                                    {% for region in regiones %}
                                                        <option value="{{region.id}}" {% if cart.shipping_info.shippingRegion == region.id %}
                                                            selected 
                                                        {% endif %}>{{region.regionNombre}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                         <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <label>Comuna <abbr class="required" title="required">*</abbr></label>
                                                {# <input type="text" placeholder="Comuna" name="shippingCommune" id="comuna_id"> #}
                                                <select id="comuna_id" name="comuna_id" class="form-control shipping-info" style="height: 50px !important; border-color: #e8e8e8" required>
                                                    <option value="">Seleccionar Comuna</option>
                                                    {% for comuna in cart.shipping_info.comunas %}
                                                        <option value="{{comuna.id}}" {% if cart.shipping_info.shippingComuna == comuna.id %}
                                                            selected 
                                                        {% endif %}>{{comuna.nombre}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <label>Ciudad<abbr class="required" title="required">*</abbr></label>
                                                <input type="text" placeholder="Ciudad" name="shippingCity" id="city" class="shipping-info" required value="{{cart.shipping_info.shippingCity}}">
                                            </div>
                                        </div>
                                       
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <label>Dirección <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" placeholder="Direccion" name="shippingAddress" id="direccion" maxlength="69" class="shipping-info" required value="{{cart.shipping_info.shippingAddress}}">
                                                <span id="success-mensaje" style="display:none;color:green"></span>
                                                <span id="error-mensaje" style="display:none;color:red"></span>
                                                <div id="contador">0/69</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-5">
                            
                            <div class="your-order-area">
                                <h3>Tu compra</h3>
                                <div class="your-order-wrap gray-bg-4">
                                    <div class="your-order-info-wrap">
                                        <div class="your-order-info">
                                            <ul>
                                                <li>Productos <span>Total</span></li>
                                            </ul>
                                        </div>
                                        <div class="your-order-middle">
                                            <ul>
                                                {% for products in cart.products_sales %}
                                                    
                                                <li>{{products.product_name}} <span>{{products.quantity}} </span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="your-order-info order-subtotal">
                                            <ul>
                                                <li>Subtotal <span>$ {{cart.subtotal|number_format(0,',', '.')}} </span></li>
                                            </ul>
                                        </div>
                                        <div class="your-order-info order-total">
                                            <ul>
                                                <li>Total <span>$ {{cart.subtotal|number_format(0,',', '.')}} </span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="Place-order">
                                    <button class="btn btn-primary" type="submit">Continuar</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include "base/footer.html.twig" %}
</div>

{% endblock body %}
{% block javascripts %}
<script src="{{ asset('assets/js/comunas_regiones.js') }}"></script>
<script src ="{{ asset('assets/js/utility.js') }}"></script>
<script>

    var alternative = document.getElementById('alternative_shipping');
    alternative.addEventListener('change', function (e) {
        if(this.checked){
            actualizarForm(true);
            $(".shipping-info").val('');
            $("#comuna_id").find('option').remove();

        }else{
            actualizarForm(false);            
        }
    });

    function actualizarForm(estado){

        var address_radio = document.querySelectorAll('input[type="radio"]');
        var inputs = document.querySelectorAll('#addres_div input');

        for (var i = 0; i < address_radio.length; i++) {
                address_radio[i].disabled = estado;
                address_radio[i].checked = false;
            }
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].required = estado;
        }
    }
</script>
<script>
    const direccion = document.getElementById('direccion');
    const contador = document.getElementById('contador');

    direccion.addEventListener('input', function (e) {
        const target = e.target;
        const longitudMax = target.getAttribute('maxlength');
        const longitudAct = target.value.length;
        contador.innerHTML = `${longitudAct}/${longitudMax}`;
    });
</script>

<script>
    $(document).ready(function () {

        {% if profile.shipping_information|length == 0 %}
            $(".different-address").show();
            $(".checkout-account").hide();
           /* $("#addres_div input").each(function(){
                $(this).attr("required", true);
                console.log('here');
            });*/
        {% endif %}


        $("#region_id").change(function(){
            console.log('region es : '+  $("#region_id").val());
            comunas();
        });

        $("#form_shipping_information").on('submit', function(evt) {
            
            console.log('comuna guardad: '+ $("#comuna_id").val());
            //return false;
            if ($("#direccion").val().length <= 69) {
                $("#success-mensaje").text("correcto...").show();
            } else {
                $("#error-mensaje").text("Máximo 69 carácteres").show().fadeOut(1000);
                event.preventDefault();
            }
            if (!validarPhone()) {
                    return false;
            }
        });

        $(".shipping_address_id").click(function(){
            let id = $(this).val();
            let region_id = $("#info_"+id).data('region');
            let comuna_id = $("#info_"+id).data('comuna');
            let city = $("#info_"+id).data('city');
            let address = $("#info_"+id).data('address');
            $("#comuna_id").append('<option value="' + comuna_id + '"></option>');
            $("#shippingName").val($("#costumerName").val());
            $("#shippingRut").val($("#costumerRut").val());
            $("#city").val(city);
            $("#comuna_id").val(comuna_id);
            $("#direccion").val(address);
            $("#region_id").val(region_id);

        });
    });
</script>
{% endblock javascripts %}