{% extends "base/base.html.twig" %}

{% block body %}

<div class="main-wrapper">
    <!-- Desktop header start -->
    {% include "base/shopHeader.html.twig" %}
    <!-- Desktop header /end -->
    <!-- mini cart start -->
    {% include "base/minicarrito.html.twig" %}
    <!-- mini cart /end -->
    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="{{ path('index') }}">Inicio</a>
                    </li>
                    <li class="active">Tienda </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop-area pt-120 pb-120">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-topbar-wrapper">
                        <div class="shop-topbar-left">
                            <div class="view-mode nav">
                                <a class="active" href="#shop-1" data-toggle="tab"><i class="icon-grid"></i></a>
                                <a href="#shop-2" data-toggle="tab"><i class="icon-menu"></i></a>
                            </div>
                            {% set total_i = products.current_page * pagesize %}
                            {% set itms_actual = (total_i  - (pagesize) ) +1 %}
                           
                            {% if total_i > products.total_items %}
                                
                                {% set total_i = products.total_items %}
                                {% set itms_actual = (total_i - products.items|length) + 1  %}

                            {% endif %}

                            <p>Mostrando {{itms_actual}} - {{total_i}} de {{products.total_items}} resultados</p>   
                        </div>
                        <form >
                            <div class="product-sorting-wrapper">
                                <div class="product-shorting shorting-style">
                                    <label>Ver:</label>
                                    <select name="pagesize" id="pagesize">
                                        <option value="9"> 9 </option>
                                        <option value="15"> 15 </option>
                                        <option value="21"> 21 </option>
                                    </select>
                                </div>
                                <div class="product-show shorting-style">
                                    <label>Orden:</label>
                                    <select name="orderby" id="orderby">
                                        <option value="alphabetical-asc"> Nombre </option>
                                        <option value="price-asc"> Precio </option>
                                        {# <option value=""> Random </option> #}
                                    </select>
                                </div>
                                    <button class="btn btn-filter" type="submit" >Filtrar</button>   
                            </div>
                        </form>
                    </div>
                    <div class="shop-bottom-area">
                        <div class="tab-content jump">
                            <div id="shop-1" class="tab-pane active">
                                <div class="row">
                                    {% if products.items|length == 0 %}
                                        
                                        <h1>¡Lo sentimos, no hay productos para tu búsqueda!</h1>
                                        
                                    {% endif %}

                                    {% for products in products.items %}
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="single-product-wrap mb-35">
                                            <div class="product-img product-img-zoom mb-15">
                                                <a href="{{path('producto',{'slug':products.slug})}}">
                                                    <img class="object-fit" src="{{ products.img }}" alt="">
                                                </a>
                                                <div class="product-action-2 tooltip-style-2">
                                                    <button title="Wishlist" onclick="addToWishlist({{products.id}})"><i class="icon-heart"></i></button>{#
                                                    <button title="Quick View" data-toggle="modal"
                                                        data-target="#exampleModal"><i
                                                            class="icon-size-fullscreen icons"></i></button>
                                                    <button title="Compare"><i class="icon-refresh"></i></button>#}
                                                </div>
                                            </div>
                                            <div class="product-content-wrap-2 text-center">
                                                {#<div class="product-rating-wrap">
                                                    <div class="product-rating">
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star gray"></i>
                                                    </div>
                                                    <span>(2)</span>
                                                </div>#}
                                                <h3><a href="{{path('producto',{'slug':products.slug})}}">{{ products.name }}</a></h3>
                                                <div class="product-price-2">
                                                    <span>${{ products.price|number_format(0,',', '.') }}</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap-2 product-content-position text-center">
                                                {# <div class="product-rating-wrap">
                                                    <div class="product-rating">
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star gray"></i>
                                                    </div>
                                                    <span>(2)</span>
                                                </div> #}
                                                <h3><a href="{{path('producto',{'slug':products.slug})}}">{{ products.name }}</a></h3>
                                                <div class="product-price-2">
                                                    <span>${{ products.price|number_format(0,',', '.') }}</span>
                                                </div>
                                                <div class="pro-add-to-cart">
                                                    <button title="Agregar al carrito" onclick="addToCart({{products.id}}, {{products.variant_id}});">Agregar al carrito</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="pro-pagination-style text-center mt-10">
                            <ul>
                                {% if products.current_page > 1 %}
                                <li>
                                    <a class="prev" href="{{path('tienda', {'pages':products.current_page-1<1?1:products.current_page-1,'orderby':orderby,'pagesize':pagesize,'search':search}) }}">
                                        <i class="icon-arrow-left"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if products.total_pages > 0 %}
                                    
                                {% for i in 1..products.total_pages %}
                                    <li><a {% if i == products.current_page %} 
                                     class="active" {% endif %} href="{{path('tienda', {'pages':i}) }}">{{ i }}</a></li>
                                {% endfor %}
                                {% endif %}
                                {% if products.current_page < products.total_pages %}
                                <li>
                                    <a class="next" href="{{path('tienda', {'pages':products.current_page+1<1?1:products.current_page+1,'orderby':orderby,'pagesize':pagesize,'search':search}) }}">
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sidebar-wrapper sidebar-wrapper-mrg-right">
                        <div class="sidebar-widget mb-40">
                            <div class="sidebar-search mt-0">
                                <form class="sidebar-search-form">
                                    <input type="text" placeholder="¿Qué Buscas?" name="search" value="{{search}}" >
                                    <button type="submit">
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {% include "base/footer.html.twig" %}
    <!-- footer /end -->
    <!-- Modal -->
    {% include "base/modalQuickView.html.twig" %}
    <!-- Modal end -->
</div>
{% endblock body %}

{% block javascripts %}
<script>
    function addToWishlist(id){
        var url = Routing.generate('addToWishlist', {
            'product_id': id
        });
        fetch(url)
        .then(response => console.log(response));
          Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Se ha agregado el producto a la lista de deseos',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
          })
    }
    $( document ).ready(function() {
        $("#orderby").val('{{orderby}}');
        $("#pagesize").val('{{pagesize}}');
    });
</script>
<script type="text/javascript">
    function addToCart(product_id, variant_id) {
        
        {% if app.session.get('cartId') is empty %}
        var cart_id = null;
        {% else %}
        var cart_id = "{{app.session.get('cartId')}}";
        {% endif %}
        data = {
            "product_id": product_id,
            "variant_id":  variant_id,
            "quantity_products": 1,
            "cart_id": cart_id
        };

        $.ajax({
            type: "POST",
            url: "{{path('addToCart')}}",
            dataType: 'json',
            data: data,
            beforeSend: () =>{
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'success',
                    title: 'Se ha agregado el producto al carrito',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                })
            },
            success: function (response, data, textStatus, xhr) {
                if (cart_id == null) {
                    parametros = { 'cartId': response[0].cart_id }
                    var url = Routing.generate('createCartSession', parametros);
                    $.ajax({
                        type: "POST",
                        url: url,
                        success: function (response, data, textStatus, xhr) {
                            location.reload();
                        }
                    });
                }
            },
            complete: ()=>{
                actualizarCarrito();
            },
        });  
    }

</script>
{% endblock %}