{% extends "base/base.html.twig" %}

{% block body %}

<div class="main-wrapper">
    <!-- Desktop header start -->
    {% include "base/shopHeader.html.twig" %}
    <!-- Desktop header /end -->
    <!-- mini cart start -->
    {% include "base/minicarrito.html.twig" %}
    <!-- mini cart /end -->
    <!-- Mobile menu start -->
    {% include "base/mobileHeader.html.twig" %}
    <!-- Mobile menu /end -->
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="{{ path('index') }}">Inicio</a>
                    </li>
                    <li class="active">Tienda </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner-container">
        <div class="banner-slide" 
            {% if banner.urlBanner is defined %}
                style="background-image: url('{{ banner.urlBanner }}');"
            {% else %}
                style="background-image: url('{{ urlBanner }}');"
            {% endif %}
        >
        </div>
    </div>


    <div class="banner-content" style="background: #fff !important;-webkit-text-stroke: medium">
        <h1 style="text-align-last: center !important;">{{ productora }}</h1>
        {# Puedes agregar un párrafo o un botón aquí si lo necesitas #}
    </div>


    <div class="shop-area pt-120 pb-120">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-topbar-wrapper">
                        <div class="shop-topbar-left">
                            <div class="view-mode nav">
                                <a class="active" href="#shop-1" data-toggle="tab"><i class="icon-grid"></i></a>
                                <a href="#shop-2" data-toggle="tab"><i class="icon-menu"></i></a>
                            </div>
                              
                        </div>
                        <form >
                            <div class="product-sorting-wrapper">
                                <div class="product-shorting shorting-style">
                                    <label>Ver:</label>
                                    <select name="pagesize" id="pagesize">
                                        <option value="9"> 9 </option>
                                        <option value="15"> 15 </option>
                                        <option value="21"> 21 </option>
                                    </select>
                                </div>
                                <div class="product-show shorting-style">
                                    <label>Orden:</label>
                                    <select name="orderby" id="orderby">
                                        <option value="alphabetical-asc"> Nombre </option>
                                        <option value="price-asc"> Precio </option>
                                        {# <option value=""> Random </option> #}
                                    </select>
                                </div>
                                    <button class="btn btn-filter" type="submit" >Filtrar</button>   
                            </div>
                        </form>
                    </div>
                    <div class="shop-bottom-area">
                        <div class="tab-content jump">
                            <div id="shop-1" class="tab-pane active">
                                <div class="row">
                                    {% if pass|length == 0 %}
                                        
                                        <h1>¡Lo sentimos, no hay productos para tu búsqueda!</h1>
                                        
                                    {% endif %}

                                    {% for pass in pass %}
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="single-product-wrap mb-35">
                                            <div class="product-img product-img-zoom mb-15">
                                                <a href="#{#{{path('producto',{'slug':pass.slug})}}#}">
                                                    <img class="object-fit" src="data:image/jpeg;base64,{{ pass.cover }}" alt="">
                                                </a>
                                                <div class="product-action-2 tooltip-style-2">
                                                    {#<button title="Wishlist" onclick="addToWishlist({{pass.id}})"><i class="icon-heart"></i></button>
                                                    <button title="Quick View" data-toggle="modal"
                                                        data-target="#exampleModal"><i
                                                            class="icon-size-fullscreen icons"></i></button>
                                                    <button title="Compare"><i class="icon-refresh"></i></button>#}
                                                </div>
                                            </div>
                                            <div class="product-content-wrap-2 text-center">
                                                {#<div class="product-rating-wrap">
                                                    <div class="product-rating">
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star"></i>
                                                        <i class="icon_star gray"></i>
                                                    </div>
                                                    <span>(2)</span>
                                                </div>#}
                                                <h3><a href="#{#{path('producto',{'slug':pass.slug})}#}">{{ pass.nombre }}</a></h3>
                                                <div class="product-price-2">
                                                    <span>${{ pass.precioBruto|number_format(0,',', '.') }}</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap-2 product-content-position text-center">                                               
                                                <h3><a href="{#{path('producto',{'slug':pass.slug})}#}">{{ pass.nombre }}</a></h3>
                                                <div class="product-price-2">
                                                    <span>${{ pass.precioBruto|number_format(0,',', '.') }}</span>
                                                </div>                                                
                                                <button class="btn btn-primary addToCartButton" data-pass-id="{{ pass.passId }}" data-productos-pass="{{ pass.productosRelacionados  | json_encode | e('html_attr') }}">
    
                                                    Agregar al Carro
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sidebar-wrapper sidebar-wrapper-mrg-right">
                        <div class="sidebar-widget mb-40">
                            <div class="sidebar-search mt-0">
                                <form class="sidebar-search-form">
                                    <input type="text" placeholder="¿Qué Buscas?" name="search" value="{{search}}" >
                                    <button type="submit">
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para pedir la cantidad de adultos y niños -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartModalLabel">Agregar al Carro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="cartForm">
                        <div class="form-group">
                            <label for="adultsQuantity">Cantidad de Adultos</label>
                            <input type="number" class="form-control" id="adultsQuantity" name="adultsQuantity" min="0" value="0">
                        </div>
                        <div class="form-group">
                            <label for="childrenQuantity">Cantidad de Niños</label>
                            <input type="number" class="form-control" id="childrenQuantity" name="childrenQuantity" min="0" value="0">
                        </div>
                        <br>
                        <h3 style="text-align: center;">Productos Relacionados</h3>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="productsTable">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Descripción</th>
                                        <th>Stock Actual</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Los productos se llenarán aquí dinámicamente -->
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="confirmAddToCart">Agregar al Carro</button>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {% include "base/footer.html.twig" %}
    <!-- footer /end -->
    <!-- Modal -->
    {% include "base/modalQuickView.html.twig" %}
    <!-- Modal end -->
</div>
{% endblock body %}

{% block javascripts %}
<script>
    function addToWishlist(id){
        var url = Routing.generate('addToWishlist', {
            'product_id': id
        });
        fetch(url)
        .then(response => console.log(response));
          Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Se ha agregado el producto a la lista de deseos',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
          })
    }
    
</script>
<script type="text/javascript">
    document.querySelectorAll('.addToCartButton').forEach(function(button) {
        button.addEventListener('click', function() {
            const passId = this.getAttribute('data-pass-id');
            const productosPass = JSON.parse(this.getAttribute('data-productos-pass'));
            document.getElementById('confirmAddToCart').setAttribute('data-selected-pass-id', passId);
            populateProductsTable(productosPass);
            $('#cartModal').modal('show');
        });
    });
    // Función para llenar la tabla de productos en el modal
    function populateProductsTable(productos) {
        // Obtiene el cuerpo de la tabla donde se agregarán los productos
        const tableBody = document.querySelector('#productsTable tbody');
        tableBody.innerHTML = '';
        // Recorre los productos y los añade a la tabla
        productos.forEach(producto => {
            const row = document.createElement('tr');
            console.log(producto);
            row.innerHTML = `
                <td>${producto.name}</td>
                <td>${producto.description}</td>
                <td>${producto.stockProductActualPass}</td>
            `;

            // Añade la fila a la tabla
            tableBody.appendChild(row);
        });
    }

   
    // Ejecutar la función addToCart al confirmar la acción en el modal
    document.getElementById('confirmAddToCart').addEventListener('click', function() {
        const adults = document.getElementById('adultsQuantity').value;
        const children = document.getElementById('childrenQuantity').value;

        // Obtén el pass.id almacenado en el botón "confirmAddToCart"
        const passId = this.getAttribute('data-selected-pass-id');

        // Validar que se haya ingresado al menos un adulto o un niño
        if (adults > 0 || children > 0) {
            // Aquí puedes llamar a la función addToCart con las cantidades seleccionadas y el passId
            addToCart(adults, children, passId);
            
            // Cerrar el modal
            $('#cartModal').modal('hide');
        } else {
            alert('Debes agregar al menos un adulto o un niño.');
        }
    });
    function addToCart(adults, children, passId) {
        
        {% if app.session.get('cartId') is empty %}
        var cart_id = null;
        {% else %}
        var cart_id = "{{app.session.get('cartId')}}";
        {% endif %}
        data = {
            "pass_id": passId,
            "adultos":  adults,
            "ninios":  children,
            "quantity_pass": parseInt(adults) + parseInt(children),
            "cart_id": cart_id
        };

        $.ajax({
            type: "POST",
            url: "{{path('addToCartPass')}}",
            dataType: 'json',
            data: data,
            beforeSend: () =>{
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'success',
                    title: 'Se ha agregado el producto al carrito',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                })
            },
            success: function (response, data, textStatus, xhr) {
                if (cart_id == null) {
                    parametros = { 'cartId': response[0].cart_id }
                    var url = Routing.generate('createCartSession', parametros);
                    $.ajax({
                        type: "POST",
                        url: url,
                        success: function (response, data, textStatus, xhr) {
                            location.reload();
                        }
                    });
                }
            },
            complete: ()=>{
                actualizarCarrito();
            },
        });  
    }

</script>
{% endblock %}